[2020-03-20 19:02] lgeistlinger opened #1 "Form field value constraints"
From: Ike Hecht <ikehecht@wikiworks.com>
Sent: Friday, March 20, 2020 12:48 PM
To: Ludwig Geistlinger; Levi Waldron; Sean Davis
Subject: Added form field value constraints

We added the ontologies for the various form fields. We have the following notes:

- All of the fields do not allow setting any other values, with the exception of "study design" and "sequencing platform".
- The order and capit

[2020-03-20 19:08] lgeistlinger opened #2 "Linking to Pubmed"
From: Ike Hecht <ikehecht@wikiworks.com>
Sent: Thursday, March 19, 2020 3:46 PM
To: Levi Waldron; Ludwig Geistlinger; Sean Davis
Subject: Linking to PubMed

We're ready to go ahead and link to PubMed in order to retrieve more information about the Studies. We'll semantically store that information and display it in the "Study information" box. Here is a list of fields available to us. Please let m

[2020-03-20 19:12] lgeistlinger opened #3 "Adding Studies, Experiments and Signatures"
From: Ike Hecht <ikehecht@wikiworks.com>
Sent: Thursday, March 19, 2020 5:00 PM
To: Levi Waldron; Ludwig Geistlinger
Subject: Adding Experiments and Signatures

We added a method for adding Experiments and Signatures. You can see it on a Study page like [this](http://209.182.252.71/Study_1). Look for the "Add a new..." buttons.

Unfortunately, you may find that the page is not immediately visible

[2020-03-20 19:20] lgeistlinger opened #4 "Form editing"
Ike: Indeed. In order to solve this, we had to remove the popup feature for the "Experiment" and "Signature" forms. Now it brings you to a separate form page. Please try it again. We kept the popup for the "Study" form and it should refresh itself now. Please let me know if we should remove the popup from this as well, for consistency.

Ike: Strange. It's fixed now, although your test text may nee

[2020-03-20 19:25] lgeistlinger opened #5 "Taxa with missing NCBI ID"
From: Ike Hecht <ikehecht@wikiworks.com>
Sent: Tuesday, March 17, 2020 4:18 PM
To: Levi Waldron; Ludwig Geistlinger; Sean Davis
Subject: Pages with missing NCBI ID

We added special handling for Signatures where the NCBI ID is unknown. You can see an example of how this is handled [here](http://209.182.252.71/Study_1/Experiment_5/Signature_8#1350). These pages are also added to a special category.

[2020-03-21 08:22] lwaldron opened #6 "Taxon pages (was: Microbial annotations)"
How do we begin annotating the microbial taxonomy with morphological and physiological properties? For example:
* [obligate aerobes](https://en.wikipedia.org/wiki/Obligate_aerobe)
* [facultative anaerobes](https://en.wikipedia.org/wiki/Facultative_anaerobic_organism)
* [obligate anaerobes](https://en.wikipedia.org/wiki/Obligate_anaerobe)

We would want to be able annotate individual taxa or hierar

[2020-03-21 10:58] lwaldron opened #7 "Edit performance for signatures"
E.g. at http://209.182.252.71/Study_5, when I click on Edit for Signature 22, I had to wait several minutes of spinning wheel before the edit box opened.

[2020-03-21 11:25] lwaldron opened #8 "Identifying unrecognized taxa during signature entry"
E.g. the non-NCBI entry (k__Bacteria;p__Actinobacteria; c__Actinobacteria ;o__Coriobacteriales) is highlighted when viewing [Signature 22](http://209.182.252.71/Study_5#Signature_22) but not when [editing signature 22](http://209.182.252.71/Study_1/Experiment_5/Signature_8).

However, it seems that after initial caching, editing and displaying is quick, so the page view could be used for identifyi

[2020-03-22 11:04] #2 closed, assigned to nobody

[2020-03-22 11:07] lwaldron opened #9 "Positioning of TOC"
There's a lot of blank space below the abstract and to the right of the contents, e.g. see below from Firefox. Perhaps could be fixed by putting the Contents on the right-hand side below the study information, or abstract between the Contents and study information.

BTW the mobile layout seems quite good!

![image](https://user-images.githubusercontent.com/639942/77247870-74fc9c00-6c35-11ea-9db2-f

[2020-03-22 14:32] #3 closed, assigned to nobody

[2020-03-22 16:41] #8 closed, assigned to nobody

[2020-03-23 15:21] tosfos opened #10 "Difference highlighting for Experiments"

[2020-03-24 11:31] lwaldron opened #11 "testing by curators"
I've drafted the following Slack message to send to our curators. @tosfos shall I send it now or do you want me to wait, and is there anything you want me to change or add?

@channel I’ve just made accounts for all of you at https://bugsigdb.org. If you have a gmail account (which I used when I had them), it is probably in your spam folder.  Those of you curating signatures, it would be great for

[2020-03-24 18:47] cmirzayi opened #12 "Field Validation for PMID and DOI"
I was able to make a study with an invalid PMID and DOI (see: https://bugsigdb.org/Study_214). Perhaps it would be wise to enforce that the PMID be only numbers (e.g. 28038683) and that the DOI has to be a valid DOI format (e.g. 10.1093/nar/gks1195) before they can make a new study at all, unless we foresee the possibility of unpublished data being curated on the wiki. If so maybe there should be

[2020-03-24 20:59] lgeistlinger opened #13 "Tooltips"
I noted 2 things here:

1. In the edit / add a experiment forms, the tooltip for "host species" displays the tooltip for "confounding factors"

2. The tooltip for "Richness" (section "Alpha diversity") is missing and should be: "Number of species"

I confirm that tooltips for study and signature fields are currently missing and I will provide those as well.

[2020-03-25 19:34] tosfos opened #14 "Purging page caches after add or edit"
We'll probably need to modify PageForms to support a reload/purge of the current page even when editing a page that is not the current page. In other words, reload a Study page when adding or editing an Experiment page that is shown on the Study page.

[2020-03-25 20:37] #12 closed, assigned to nobody

[2020-03-25 20:39] #4 closed, assigned to nobody

[2020-03-26 08:17] #5 closed, assigned to nobody

[2020-03-27 18:04] #1 closed, assigned to nobody

[2020-03-27 18:53] #11 closed, assigned to lgeistlinger

[2020-03-31 09:18] #14 closed, assigned to nobody

[2020-03-31 09:19] lwaldron opened #15 "High priority: "Duplicate this Experiment""
Add a button on each experiment that says "Duplicate this Experiment" or something like that and it would bring up a preloaded form with those values.

[2020-03-31 09:21] lwaldron opened #16 "data export"
Data export: a way to export all studies, experiments, and signatures as .tsv files for external analysis. Could be joined as a single file, or as three files, however is easy. Exported data will be used by curators doing their master's essay research.

[2020-03-31 09:31] lwaldron opened #17 "Medium priority: Marking incomplete or incorrect studies, experiments, signatures"
A way to manually mark a study, experiment, or signature as incomplete or incorrect, so that we can search for these and complete them. When entering a new study/experiment/signature, the default might be "incomplete" unless the curator changes it to "complete" before saving.

There could be options of "incomplete", "incorrect", and "complete and correct". There would be value in storing who has m

[2020-03-31 09:34] lwaldron opened #18 "Avoid confusion about use of "summary" box"
Put a delimiter just above the "summary" box and submission buttons, maybe with text like "Ready to Save?" Or change "Summary" to "Summary of your edits" - anything to make it clear this is not part of the study/experiment/signature data.

This could delayed if necessary, our current curators would learn quickly enough.

[2020-03-31 09:42] lwaldron opened #19 "Re-import of data"
After essential data entry implementation and testing, we will freeze data entry in the current spreadsheet, import all current data to bugsigdb.org, then resume all data entry there. We need to plan the process to let curators know when the downtime will be.

I expect more minor data entry issues to turn up once curators are using the site full-time, so we should either make sure there is some Y1

[2020-03-31 17:45] lwaldron opened #20 "Low priority: How to delete an experiment or signature?"
It's not clear how to do it because there are no links to the Experiment or Signature pages. This could be accomplished either by:
1. adding links to the Experiment and Signature pages, where they can be deleted, or
2. adding delete buttons on the Study page

I'm honestly not sure what the best solution is right now, or whether there is utility in being able to navigate to the Experiment and Signa

[2020-03-31 17:54] lwaldron opened #21 "Show Preview / Show Changes issues for Experiments "Some parts of the edit form did not reach the server""
When editing an experiment or signature, "Show Preview" displays the following message: "Some parts of the edit form did not reach the server; double-check that your edits are intact and try again."

In the "Show Changes" view, there is no option to save or go back.

These options are non-critical and I would be OK with removing them or ignoring this for now, these options do seem potentially usef

[2020-04-02 14:36] lwaldron opened #22 "Prevent entry of duplicate studies with the same PMID"
If a user tries to create a new study with the same PMID as a study already in the system, they should be given an informative error and prevented from duplicating the study. Perhaps point them to the existing study.

[2020-04-02 14:56] lwaldron opened #23 "Wording of relative abundance"
I've received feedback from multiple curators that under Signature entry, “Increased abundance in Group 1: yes/no" is confusing. Change this to:

We will change this in the spreadsheet (yes/no -> increased/decreased), so it can be changed with final data import instead of now if that is easier.

[2020-04-06 22:45] #21 closed, assigned to nobody

[2020-04-07 00:03] #15 closed, assigned to nobody

[2020-04-07 09:57] lwaldron opened #24 "Eliminate entry of "Curation" information for signatures?"
I think the following would be better to do automatically on the signature editing page:

* `Curated date:` - fill with today's date
* `Curator:` - use the name of the person entering a new signature
* `Revision editor:` - use the name of the person editing an existing signature ("Curator" will already be filled). Append to it with an additional entry if there is already something in "Revision edi

[2020-04-13 12:49] lwaldron opened #25 "Add Curation information for experiments"
@tosfos I've realized that there is no particular reason why information about the curator would be relevant to signatures but not to experiments.  Would it be difficult at this point to add curator and curation date also to the experiments data model?

Related to: https://github.com/waldronlab/BugSigDB/issues/24

[2020-04-14 09:27] #22 closed, assigned to nobody

[2020-04-14 09:49] lwaldron opened #26 "Prune duplicated taxa in a signature"
It is possible to enter the same taxon multiple times in a signature. These could be pruned in the database, e.g. using a `unique` operation. It's mostly aesthetic and won't affect analyses, and probably won't happen much anyways, so it's not a big deal.

[2020-04-17 21:44] #25 closed, assigned to nobody

[2020-04-19 18:34] tosfos opened #27 "The string "\n" is being displayed on some pages"
This bug was traced to a recent patch of the PageForms extension [here](https://github.com/wikimedia/mediawiki-extensions-PageForms/commit/f311c95d85cf227cca2a60d901ec8485ccb440f3) and we picked up this bad commit when we updated PageForms to its latest version so that we could pick up our page purge feature which was merged [here](https://github.com/wikimedia/mediawiki-extensions-PageForms/commit

[2020-04-20 14:13] tosfos opened #28 "Remove Signatures from TOC?"
I'm thinking it might be unnecessary and unwanted to have the Signature titles as part of the TOC. Will anyone be browsing a Study and specifically want to scroll to Signature number 5? I'm wondering if it's better to just have a link to the Signatures sub-heading with nothing below/inside it.

[2020-04-21 09:51] #24 closed, assigned to nobody

[2020-04-23 16:35] #27 closed, assigned to nobody

[2020-04-23 18:42] #28 closed, assigned to nobody

[2020-05-06 17:33] #7 closed, assigned to nobody

[2020-05-06 17:38] tosfos opened #29 "Study page redesign"
We performed a major overhaul of the Study pages. We focused on ease of use for both display and editing. We combined all of the buttons into one row for each of the 3 data types. We widened the Study information. We added columns to the Experiments and Signatures to significantly reduce whitespace and length of the page. We also added a color-coded status tag in the upper right of each item.

Thi

[2020-05-06 18:21] #10 closed, assigned to nobody

[2020-05-07 12:44] lwaldron opened #30 "Replace "Help about MediaWiki" link"
Make this just "Help" and link to an on-site Help page that we will write.

~~A "Review" link to a page of the same name would also be helpful, where we will provide links & instructions for people doing things like clean-up of orphaned pages, completing incomplete pages, approval...~~

[2020-05-07 19:44] lgeistlinger opened #31 "Admin: change between dropdown and autocomplete fields"
The curators recently raised the issue that some dropdown fields should be rather auto-complete fields like we have it currently for _country_, ie where it is possible to enter _more than one value_ from a list of pre-defined values.

Is it possible to add an Admin action that would allow us to change the field type (multiple values autocomplete vs single value dropdown) for the fields listed [her

[2020-05-07 19:47] lgeistlinger opened #32 "Main page"
Although currently not a priority, I am opening here an issue to continuously collect thoughts on which components we would like to have on the main page:

- special pages / links listed [here](https://github.com/waldronlab/BugSigDB/wiki)
- access to documentation for new users including resources and policies

[2020-05-08 15:56] #30 closed, assigned to tosfos

[2020-05-08 16:16] #9 closed, assigned to nobody

[2020-05-10 10:38] #20 closed, assigned to nobody

[2020-05-22 14:22] #31 closed, assigned to nobody

[2020-07-10 17:55] #17 closed, assigned to nobody

[2020-07-11 09:18] #29 closed, assigned to nobody

[2020-09-24 22:44] lwaldron opened #33 "Reproducible installation of bugsigdb.org"
Want a containerized installation or instructions for otherwise easily reproducible installation of the full bugsigdb.org.

[2020-10-29 20:30] lgeistlinger opened #34 "Enabling curators to delete contents associated with them"
Our curators reported today that they encountered a "permission denied" error when they were trying to delete a signature / experiment / study they created.

@tosfos Would it be possible to grant such personalized deletion rights, ie that curators that are logged in would be able to delete a signature / experiment / study *they created*? Means we do not want them to be able to delete contents crea

[2020-10-29 20:44] lgeistlinger opened #35 "Duplicated studies"
While the `create/add a study` page would typically prevent creating a study with a PMID that is already contained in the DB, one curator reported today that she managed to create a study with a PMID that's already contained:

https://bugsigdb.org/w/index.php?title=+Special%3ASearch&search=27625705&go=Go

@tosfos we are wondering how is that possible and would appreciate any insights here.

[2020-10-29 21:17] lgeistlinger opened #36 "auto-complete fields: preload comprehensively or extend on demand?"
@lwaldron re: https://bugsigdb.org/Help:Admin when it comes to auto-complete / drop-down fields such as "condition" or "body site" - what's our preferred policy here: preload comprehensively (ie with all possible values from EFO and UBER, respectively) or extend on demand (as Rimsha did in the Google sheet).

I am leaning towards preloading comprehensively to reduce need for interaction or somebod

[2020-10-29 21:24] lgeistlinger opened #37 "Adding new values for drop-down / autocomplete fields takes long to manifest and new values don't end up alphabetically sorted"
@tosfos adding new values for auto-complete fields via https://bugsigdb.org/Help:Admin takes time / several reloads to manifest on the page (when eg editing the `condition` field of an experiment) and don’t end up alphabetically sorted in the dropdown.

[2020-10-29 22:12] lgeistlinger opened #38 "Use ontology for "Matched on", "Condition" and "Confounders controlled for""
@lwaldron @tosfos

My understanding was that we are treating blank fields (= a curator (un)intentionally decided to not fill the field) as `NA` (a curator didn't find this information provided in the paper curated).

Should we accordingly display all NA's entered as blank as eg for the  “Matched on” or “Confounders controlled for” field here:

https://bugsigdb.org/Study_230/Experiment_1

[2020-10-29 22:16] lgeistlinger opened #39 "Open NCBI in new tab when editing a signature"
@tosfos
When editing / adding a signature, the `NCBI` field comes with a note

[code]

When clicking on the "here" it would be desirable if the NCBI would open in a new tab to avoid losing curation contents already entered into the form.

[2020-10-30 15:02] lwaldron opened #40 "Data transfer unit tests"
After transferring data from the spreadsheet to the wiki, then exporting from the wiki, do some sanity checks that the data still match the original spreadsheet. Doesn't have to be exhaustive, but, for example:
1. All the studies / PMIDs are still present
2. Each study still has the same experiments
3. Each experiment still has the same signatures
4. Each signature still has the same taxa

A few d

[2020-10-30 15:02] lwaldron opened #41 "data transfer unit tests"
After transferring data from the spreadsheet to the wiki, then exporting from the wiki, do some sanity checks that the data still match the original spreadsheet. Doesn't have to be exhaustive, but, for example:
1. All the studies / PMIDs are still present
2. Each study still has the same experiments
3. Each experiment still has the same signatures
4. Each signature still has the same taxa

A few d

[2020-10-30 15:03] #40 closed, assigned to lgeistlinger

[2020-11-05 21:08] lgeistlinger opened #42 "Check for completeness when saving signature / experiment / study form as complete"
@tosfos:

currently curators can create and edit signatures / experiments / studies and mark them as "complete" - could completeness be checked upon saving the form and rejected if key fields are not filled?

Key fields include:

- for studies: study design and at least one out of {PMID, DOI, URI}
- for experiments: location, host, body site, condition, group information (name, sample size, def)
-

[2020-11-19 15:35] lwaldron opened #43 "Calculate some similarity measures"
We would like to be able to store relevant similarity measures between signatures, but are not sure what measures we will want in the future. These will be updated regularly in the future as new signatures are added, through the wiki API if this is possible. For now we should have:
1. Jaccard Index
2. Number of overlapping taxa

@lgeistlinger would you create a file of similarity indices based on

[2020-11-20 02:52] #37 closed, assigned to tosfos

[2020-11-20 03:00] #34 closed, assigned to nobody

[2020-11-24 17:11] #39 closed, assigned to tosfos

[2020-11-26 16:12] #35 closed, assigned to tosfos

[2020-11-26 16:15] #23 closed, assigned to tosfos

[2020-11-26 16:16] #16 closed, assigned to tosfos, lgeistlinger

[2020-12-01 14:34] lwaldron opened #44 "backup location and system"
We need a location to store bugsigdb.org backups. Should this be a server with ssh/scp access, a cloud bucket, or something else @tosfos?

[2020-12-02 14:06] #36 closed, assigned to lgeistlinger

[2020-12-03 14:39] lwaldron opened #45 "experiment warnings show on experiment page but not study page"
For example, see illegal value q<0.05 on:
* https://bugsigdb.org/Study_120/Experiment_243 (has warning)
* https://bugsigdb.org/Study_120 (no warning)

[2020-12-03 21:53] lgeistlinger opened #46 "Add clean-up category: needs review"
@tosfos: on our clean-up page (https://bugsigdb.org/Help:Cleanup), under "Links to lists of pages", we would like to have an additional bullet point "needs review" that points to all pages flagged as needing review.

[2020-12-07 19:17] lgeistlinger opened #47 "Account creation for external contributors"
@tosfos : we would like to allow members of the public to create an account in order to enable external contributions, just with either a CAPTCHA or an approval - do you have some advice for us on how to best realize this on the wiki? We suspect our pages wouldn’t be easily vandalized by spambots since they’re so tightly defined.

[2020-12-09 15:26] #45 closed, assigned to tosfos

[2020-12-17 19:32] lwaldron opened #48 "duplicate studies?"
This seems to be the same study curated independently by @ftzohra22 and @rimsha1. @lgeistlinger could you check the input files for others? In cases like this, @ftzohra22 and @rimsha1 could just check for concordance and delete one of the two.
* https://bugsigdb.org/Study_187
* https://bugsigdb.org/Study_154

[2020-12-23 23:38] #38 closed, assigned to tosfos

[2020-12-26 18:04] #47 closed, assigned to tosfos

[2021-01-04 09:16] #46 closed, assigned to tosfos

[2021-01-06 14:34] #19 closed, assigned to tosfos, lgeistlinger

[2021-01-06 15:08] #32 closed, assigned to lwaldron, lgeistlinger, rimsha1

[2021-01-11 21:25] lwaldron opened #49 "Customized search features"
The current [search page](https://bugsigdb.org/w/index.php?title=+Special%3ASearch&search=&go=Go) with its default, Multimedia, Everything, and Advanced options are hard to understand how to use for this wiki. It would be very helpful to have a search page with fields customized to the wiki.

For something to consider, we have several hierarchical ontologies: taxonomy, Body site (Uberon Ontology),

[2021-01-14 15:21] lwaldron opened #50 "Antibiotics exclusion"
@lgeistlinger manually converted all the free-form spreadsheet values here to number of days, but they are still free-form in the wiki. Do you want to make this into a numeric field in the wiki, and import your converted values? It seems better, but since you didn't raise the question of making this change in the wiki I'm posting it as a question.

[2021-01-14 15:21] lwaldron opened #51 "Antibiotics exclusion"
@lgeistlinger manually converted all the free-form spreadsheet values here to number of days, but they are still free-form in the wiki. Do you want to make this into a numeric field in the wiki, and import your converted values? It seems better, but since you didn't raise the question of making this change in the wiki I'm posting it as a question.

[2021-01-14 15:24] #51 closed, assigned to nobody

[2021-01-14 17:11] ftzohra22 opened #52 "Confounders and matched on field-unable to leave it blank once a value is entered"
@lwaldron @lgeistlinger Once something is entered in these two fields there is no way to remove it. It can only be left blank as long as nothing is entered - deleting an 'accidental' entry is not possible

[2021-01-21 01:17] #48 closed, assigned to lgeistlinger, rimsha1, ftzohra22

[2021-01-29 01:59] lgeistlinger opened #53 "Why are imported studies marked as incomplete?"
@tosfos I am wondering why imported studies such as

https://bugsigdb.org/Study_40

or

https://bugsigdb.org/Study_50

are marked as incomplete although we wanted to import them as being marked as either complete or reviewed - or did I miss something?

[2021-02-02 19:30] lwaldron opened #54 "unresponsive page: https://bugsigdb.org/Help:Needs_review"
The https://bugsigdb.org/Help:Needs_review is consistently returning HTTP error 500

[2021-02-03 16:45] #52 closed, assigned to tosfos

[2021-02-03 21:51] lgeistlinger opened #55 "links to specific DBs/Ontologies"
@lwaldron @tosfos recently I thought about how I typically read a wikipedia article. Often enough you read text of the article and follow the hyperlinks of the terms where there is another wiki page, if you'd like to know more. For example, if I read the wikipedia page on the [human microbiome](https://en.wikipedia.org/wiki/Human_microbiome), I might follow the embedded hyperlinks to other wikiped

[2021-02-09 21:54] #54 closed, assigned to tosfos

[2021-02-09 21:58] #42 closed, assigned to lgeistlinger

[2021-02-09 22:05] #18 closed, assigned to tosfos

[2021-02-09 22:21] #50 closed, assigned to cmirzayi

[2021-02-11 15:29] chuttenh opened #56 "Front page would benefit from one or more "browse" interfaces"
E.g. browse by study, by taxonomy, etc.

[2021-02-11 15:29] chuttenh opened #57 "Search input needs some structure, e.g. by bug, phenotype, or other annotation"

[2021-02-11 15:30] chuttenh opened #58 "Would be nice to be able to list / browse "similar" signatures"
Probably from the signature page, probably by very simple similarity (e.g. Jaccard)

[2021-02-11 15:30] chuttenh opened #59 ""16s" capitalization in "variable region""
This one's minor :)

[2021-02-11 15:31] chuttenh opened #60 "Link all structured annotations to each other"
That is, for each annotation value, make it a clickable link that lists all features of the same type with the same annotation (e.g. experiments with the same type, condition, studies from the same group, etc.)

[2021-02-11 15:32] chuttenh opened #61 "No way to browse non-NCBI taxa"
Would be nice to make them clickable to list other sigs containing the same bug.

[2021-02-11 15:32] chuttenh opened #62 "Search results format is pretty unintuitive"
Clearly still reliant on the default MediaWiki format.
Could be made more structured, e.g. focusing on tag types / annotations
Or less structured, e.g. simple list like Google

[2021-02-11 15:33] chuttenh opened #63 "No information about parent experiment/study on the study/sig pages"
They're easy to browse back to, but it _might_ make sense to include some header information directly on the page?

[2021-02-11 15:39] chuttenh opened #64 "No way to get to experiment/signature pages from the parent study"
You can get to them via search, and it's easy to move back up from sig->experiment->study, but not vice versa.

[2021-02-11 17:59] tosfos commented on #44
Should be all good now

[2021-02-16 19:13] tosfos commented on #55
Checking on the status of this request, please.

[2021-02-16 19:16] lgeistlinger commented on #55
Sorry, I got trapped in couple of other things. I will have something for you here over the course of this week.

[2021-02-16 19:17] tosfos commented on #49
Checking on status please. I believe certain new requests are related to this, such as #62 #57 #56

[2021-02-17 18:05] lwaldron commented on #49
Thanks @tosfos. I have a hard time picturing what those will look like, which makes me inclined to say both, at least in basic form until we have a chance to user-test them then decide and refine. The drilldown-type page sounds like what is described in #56, so perhaps start with that.

If we wanted to allow users to narrow down the signatures shown on a taxon page, would that be using a custom fo

[2021-02-18 14:38] lgeistlinger commented on #53
Thank you very much! I checked this in detail and that looks all great.

[2021-02-18 14:38] #53 closed

[2021-02-18 15:01] lgeistlinger commented on #55
@tosfos: is it helpful if I split the vocabulary table into thematic sections as given by the fields of the experiment data model? Means should I group links by body site, condition, statistical test, ... or just put everything in one big table?

[2021-02-18 15:28] lwaldron opened #65 "multiple valid "matched on" values produce invalid warning"
See for example https://bugsigdb.org/Study_425#: Experiment 1 "matched on" contains two valid entries: `age` and `sex`, but it shows the orange `!` sign.  The warning sign goes away if only age or only sex is entered. No warning sign should be shown if all entries are valid. Not sure if this is affecting other fields as well. This is a minor issue.

[2021-02-18 19:18] tosfos commented on #55
I guess groups is easier for us.

[2021-02-18 19:27] tosfos commented on #49
We'll think about the use case here and research our options. In all likelihood, one of these will be sufficient.

How would they be narrowed down? Also, there aren't really that many signatures on one Study page, are there?

[2021-02-18 19:38] lwaldron commented on #49
Sounds good.

I was mainly thinking about researchers with an interest in a particular body site or system (based on Uberon Ontology) or condition (based on Experimental Factor Ontology). Those would probably be the main filtering criteria for other searches as well. I meant filtering from a taxon page, not a study page, but the same behavior could instead be a part of a search page that allows se

[2021-02-18 19:46] tosfos commented on #49
Right. Sorry about that!

Actually the Taxon page is already a query page in disguise, so adding some form fields for filtering would be very easy. Let's try it there as I think you'll be happy with the results.

[2021-02-18 19:52] lgeistlinger commented on #55
@tosfos I have here two such files for condition and body site to have something to play around with for a start:

[condition.txt](https://github.com/waldronlab/BugSigDB/files/6005510/condition.txt)
[bodysite.txt](https://github.com/waldronlab/BugSigDB/files/6005512/bodysite.txt)

If you say that's all you need, I'll proceed with producing such files also for the other experiment fields.

[2021-02-22 20:31] tosfos commented on #55
Will do. Just noting that these files have no "Alias" field, but we'll keep in my mind that we should support this ability in case it's needed in the future.

[2021-02-22 21:04] lgeistlinger commented on #55
yes the `ALIAS` field will become relevant once we are starting to screen abstracts. For the experiment fields, we expect exact matches only.

[2021-02-22 21:10] tosfos commented on #65
Should be all good now. Please review and close.

[2021-02-22 22:00] lgeistlinger commented on #65
@ftzohra22 can you check and close the issue if things are looking ok for you?

[2021-02-22 22:09] ftzohra22 commented on #65
looks good. Thank you!

[2021-02-22 22:09] #65 closed

[2021-02-23 22:50] tosfos commented on #49
We added a rough draft of these 2 filters on the Taxon page.
![image](https://user-images.githubusercontent.com/10228795/108918452-6665f400-75ff-11eb-8a28-92dc3c5d447c.png)
Please check here: https://bugsigdb.org/Special:RunQuery/Taxon?Taxon[NCBI]=201174&_run=1

[2021-02-25 10:15] lwaldron opened #66 "504 Gateway Time-out"
Front page works loads, but some others do not - for example just now I got this error for  https://bugsigdb.org/Study_1 and https://bugsigdb.org/Study_4, but not for studies 2 or 3. Issue was first reported to me yesterday by three different curators starting ~8pm.

[code]

[2021-02-25 10:18] lwaldron commented on #62
This is being addressed under issue https://github.com/waldronlab/BugSigDB/issues/49 - see screenshot of draft drill-down search for a taxon, and Phylum Actinobacteria example at https://bugsigdb.org/Special:RunQuery/Taxon?Taxon%5BNCBI%5D=201174&_run=1.

[2021-02-25 10:18] #62 closed

[2021-02-25 10:31] lwaldron commented on #49
I like the filter. A couple great enhancements, if they are feasible, would be to:
1. in the dropdown, show only items with non-zero results.
2. show parent terms from the Uberon and EFO ontology (e.g. allowing filtering for all types of cancer, or all gastrointestinal sites)

[2021-02-25 10:33] lwaldron commented on #66
The performance of taxon pages is also very slow, and I got a 504 Gateway Time-out also for [Neisseria](https://bugsigdb.org/Special:RunQuery/Taxon?Taxon%5BNCBI%5D=482&Taxon%5BBody%20site%5D=&Taxon%5BCondition%5D=&_run=1).

[2021-02-25 15:58] lgeistlinger commented on #66
Maybe related to that I have trouble to export the signatures.csv from bugsigdb.org (see attached screenshot)

![Screen Shot 2021-02-25 at 10 55 34 AM](https://user-images.githubusercontent.com/11871050/109179885-57df2000-7758-11eb-8616-d07120beb9ad.png)
.
Exporting the experiments.csv and studies.csv is not affected, and works fine.

[2021-02-25 16:01] lgeistlinger commented on #66
Trying to read the exported signatures.csv file from within R fails as well:

[code]

[2021-02-25 17:05] tosfos commented on #66
Yes, it looks like this could all be related. It seems the server ran out of disk space. We freed up some space and things should work now.

[2021-02-25 17:37] lgeistlinger commented on #66
Thanks! Can confirm that I am able to pull the export csv files again.

[2021-02-25 19:55] ftzohra22 commented on #66
@lgeistlinger and @tosfos not getting the error any more. There was a momentary issue when 'add a new signature' was clicked but that seems to be working now as well =)

[2021-02-25 21:05] lgeistlinger commented on #66
thanks @ftzohra22 !

[2021-02-25 21:05] #66 closed

[2021-03-08 17:01] tosfos commented on #49
Can you please explain this some more? Are you looking for multiple-level filtering? Is there a list with the hierarchy?

[2021-03-08 17:06] tosfos commented on #44
Can this be closed?

[2021-03-08 17:06] tosfos commented on #41
Any thoughts on this, please?

[2021-03-08 17:11] tosfos commented on #26
This is some strange behavior. It looks like if you try to add an already-existing token, PageForms will assume that you are trying to remove that token (similar to clicking the x). Should we research this?

[2021-03-08 17:14] tosfos commented on #6
At some point, we'd like to try and rework all the queries on this page (using Lua), but it doesn't have to be done now if performance is acceptable.

Can this be closed?

[2021-03-08 19:08] lgeistlinger commented on #6
@lwaldron: input required.

[2021-03-08 19:09] lgeistlinger commented on #44
@lwaldron input required.

[2021-03-08 19:16] lgeistlinger commented on #26
@lwaldron what do you think? An up-to-date example would be trying out to add the already contained "Firmicutes" to https://bugsigdb.org/Special:FormEdit/Signature/Study_267/Experiment_9/Signature_2 which will result in the [behavior described above](https://github.com/waldronlab/BugSigDB/issues/26#issuecomment-736718974). I'd be ok with leaving things as is.

I don't think it is too problematicwo

[2021-03-08 20:52] lwaldron commented on #41
It seems better to keep the superkingdoms; it could be useful to filter by Eukaryotes, Bacteria, Archea, Virus.

[2021-03-08 21:06] lwaldron commented on #44
I can see the file `combined.tar.gz` which contains _resources.tar.gz (22KB), db_snapshot.sql.gz (Zero bytes) and images_snapshot.tar (Zero bytes). Not sure if that's right. I just set up some storage rules, moving versions 2-5 to Coldline, 6 to one year to Archive, and deleting older than a year. Probably don't need a full year of backups, but at the current size the cost is trivial anyways.

I'd

[2021-03-08 21:09] lwaldron commented on #6
Yes let's close for now. A rework for performance would be great to do in the near-ish future but deserves a new issue.

[2021-03-08 21:09] #6 closed

[2021-03-08 21:13] lwaldron commented on #26
So the problem only happens when you create a signature, save it, then edit it again and try to add an existing taxon again? It would be worth investigating someday but it's an unusual enough situation I would put it at the bottom of priorities for now. Good catch though, @lgeistlinger.

[2021-03-11 15:16] cmirzayi opened #67 "Condition property of Category Experiments is empty on Semantic Search"
Experiments (category) have a property called Condition (not to be confused with the Condition field of Semantic Search). When you try a Semantic Search to pull data from Experiments, you only get a single Condition and the rest of the rows are blank. Here's a Semantic Search where this happens:

[code]

Compare to another property of Experiments which does display correctly:

[code]

[2021-03-11 15:22] lwaldron commented on #67
These are also missing in bulk experiments export (https://tinyurl.com/yb2fmpa3). I noticed they now show as red hyperlinks on study pages (https://bugsigdb.org/Study_4).

[2021-03-13 21:39] lgeistlinger commented on #41
@tosfos status update on this - it looks as if we are getting closer, with 16 signatures remaining where imported and exported NCBI Taxonomy IDs are not exactly the same.
Those are exclusively cases where the export seems to contain additional NCBI IDs, but this might be by design or related to the issue with the taxonomy levels above?

signature	setdiff.import	setdiff.export	import	export
**Study

[2021-03-14 20:33] tosfos commented on #44
Do you have your own server (either remote or local) where you can actually perform a restore of the container?

[2021-03-14 20:47] tosfos commented on #26
Not quite. You can see it by editing any signature page. Try to add a taxon in the NCBI field, then immediately try to add the same taxon again. Instead of adding the taxon a second time, or ignoring the attempt, the form will instead remove the taxon completely.

[2021-03-14 21:03] lwaldron commented on #44
Since it’s Dockerized we should be able to test it anywhere right, and it
would just be a matter of setting up DNS to actually run it somewhere else?
I’d like to test installing from backup both on a Cloud service and
locally. @jwokaty would you mind testing it once we have procedures?--

Levi Waldron

Associate Professor

Department of Epidemiology and Biostatistics

CUNY Graduate School of Publi

[2021-03-14 21:05] lwaldron commented on #26
OK that's pretty weird, and seems worth bumping up to medium priority.

[2021-03-15 17:28] jwokaty commented on #44
@lwaldron Sure! I'll test when ready.

[2021-03-17 20:16] tosfos commented on #44
Do you mean 22 MB?

We checked all the scripts and everything looks OK with the logs and script. When we checked the file size, we got:

`gsutil ls -l gs://backups.bugsigdb.org/`
 ` 27458773  2021-03-15T10:34:37Z  gs://backups.bugsigdb.org/combined.tar.gz`

[2021-03-17 20:27] tosfos commented on #44
[docker-bugsigdb.org-master.zip](https://github.com/waldronlab/BugSigDB/files/6159504/docker-bugsigdb.org-master.zip)

The docker files are attached. Please let me know if you have any questions.

[2021-03-17 20:30] tosfos commented on #49
This won't be simple. We estimate 2 hours to experiment and see how it goes. Please let me know.

[2021-03-17 20:40] tosfos commented on #55
Since we plan to expand this feature, we're creating pages for each of the ontology terms. The page stores a definition, external link to the ontology and aliases. Please see the way we implemented it [here](https://bugsigdb.org/Study_353/Experiment_1) (condition and body site), and let me know what you think.

[2021-03-17 20:52] tosfos commented on #67
Should be OK now. Please test and close. [Here](https://bugsigdb.org/User:WikiWorks/Condition_issue) is a link to the above queries showing that the issue is fixed. Some of the Condition fields have processing errors, but other than that, the field should work fine now.

This issue was caused by an erroneous edit we did to support #55.

[2021-03-17 21:02] lgeistlinger commented on #55
Interesting. Maybe I am missing something, but why not just linking to the external DBs as we eg do it for Pubmed IDs or NCBI Taxonomy IDs?

[2021-03-17 22:09] tosfos commented on #55
We are displaying the link in a similar way:
![image](https://user-images.githubusercontent.com/10228795/111544397-ca855f00-874a-11eb-8fe3-2a3fe99e809e.png)

The circle next to the "feces" text is a link to the external DB. (Should we change the icon?)

But we need a more complex system to support these 2 fields. The Pubmed and NCBI IDs always link to the same place. So all we need to know is the

[2021-03-18 01:42] lgeistlinger commented on #55
Ah I see!
I think it makes sense. And I guess we are going to fill this pages via a bulk import just as we did for the other pages?

As a side note:
- the icon for body site (uberon ontology) could be https://uberon.github.io/images/u-logo.jpg
- the icon for condition (efo ontology) could be https://upload.wikimedia.org/wikipedia/en/d/d8/Logo_of_the_Experimental_Factor_Ontlogy.gif

[2021-03-18 09:06] lwaldron commented on #44
Here is what I am seeing, yes 22KB (not MB). This is also what I see in the Cloud console, I'll paste a screenshot below. Another thing confusing me is I can't find older versions, even though I set up an object lifecycle. @jwokaty would you also take a look at the [GCP storage browser for bugsigdb](https://console.cloud.google.com/storage/browser?project=bugsigdb) and confirm I'm not doing someth

[2021-03-19 03:32] jwokaty commented on #44
@lwaldron I'm confirming that I observed the same issues you found with the 21.8KB combined.tar.gz with timestamp 3/18 in GCP.

As for the other versions, if I understand correctly, the backup is always saved to combined.tar.gz and we want to use GCP's object versioning. [Versioning](https://cloud.google.com/storage/docs/using-object-versioning#gsutil_3) was suspended for the bucket so I enabled i

[2021-03-19 03:40] lwaldron commented on #44
Thanks @jwokaty!

[2021-03-19 03:45] lwaldron commented on #49
I'd say this isn't the highest priority then. Some grouping of ontology terms under a higher level of hierarchy (ie all diseases under "cancer") seems better to prioritize. Or even higher priority, main search/browse features for the front page, including replacement for the default MediaWiki search box.

[2021-03-19 13:33] lgeistlinger commented on #67
Hi @cmirzayi can you confirm that the issue is resolved and close if that's the case. Thanks!

[2021-03-19 13:39] cmirzayi commented on #67
Can confirm it's fixed.

[2021-03-19 13:39] #67 closed

[2021-03-25 15:42] jwokaty commented on #44
@tosfos I think there's still an issue with the backups. They're all 22KB. The image and db files are both size zero.

[code]

[2021-03-26 19:28] tosfos commented on #44
We'll check.

[2021-03-31 16:42] ftzohra22 opened #68 "How should we clear studies under Stale reviews?"

[2021-03-31 16:44] lgeistlinger commented on #68
Hi @ftzohra22 we would need some more context here and being pointed to 1,2 example cases in order to be able to comment on the issue. Thanks!

[2021-03-31 16:46] lwaldron commented on #68
I see the list at: https://bugsigdb.org/Help:Needs_review

If I click on the first one (https://bugsigdb.org/Study_1/Experiment_1/Signature_1), it shows as already reviewed, and doesn't have the option like an unreviewed study to "mark reviewed". So I'm not sure either how to mark this as "reviewed" again and no longer "stale".

[2021-03-31 16:48] ftzohra22 commented on #68
my apologies. I meant under the section Stale reviews here (https://bugsigdb.org/Help:Needs_review) we have papers that were already reviewed (on the sheet) but some changes made on them after importing to the wiki.

[2021-04-02 14:23] lwaldron opened #69 "Create shell R package + pkgdown gh-pages site"
Using `usethis` or `biocthis`

[2021-04-02 14:26] lwaldron opened #70 "Add importBugSigDB to R package"
See https://github.com/waldronlab/bugSetEnrichment/blob/d6ab1fdca906f8af0f7dd1f7920360c69b387a1c/R/bugsigdb_analyses.R#L13

@LiNk-NY would you take a look at the caching functionality and advise if we should copy it here?

[2021-04-02 14:30] lwaldron opened #71 "add writeGMT function to R package"
See https://github.com/lwaldron/LeviRmisc/blob/master/R/writeGMT.R but:
1. add roxygen2 markup.
2. don't unlink file
3. use seq_along instead of `1:length(object)`

[2021-04-02 14:31] lwaldron commented on #71
Eventual goal but will be to write .gmt files at every level of the taxonomic hierarchy.

[2021-04-02 15:07] LiNk-NY commented on #70
I think it would be good to have a straightforward caching functionality.
I'd probably add some kind of `force` download option to the function when getting from the cache.
@lgeistlinger

[2021-04-02 15:15] lgeistlinger commented on #69
You can use https://github.com/waldronlab/bugsigdbr for that

[2021-04-02 15:16] lgeistlinger commented on #71
You can use https://github.com/waldronlab/bugsigdbr for that

[2021-04-02 15:17] lgeistlinger commented on #70
Currently working moving `importBugSigDB` from waldronlab/bugSetEnrichment over to waldronlab/bugsigdbr

[2021-04-02 15:18] lgeistlinger commented on #70
you can take over from there

[2021-04-02 15:21] LiNk-NY commented on #70
It looks like `waldronlab/bugsigdbr` is colliding with `waldronlab/bugsigdb` @lwaldron
Maybe flip a coin? :grin:
AFAIU, the repo for the website would be something like `waldronlab/bugsigdb.org`

[2021-04-02 15:25] lgeistlinger commented on #70
sorry I have to weigh in here, but `waldronlab/bugsigdbr` provides clearer distinction to `waldronlab/BugSigDB`

[2021-04-02 17:38] tosfos commented on #44
It looks like we were suffering from this issue: https://github.com/docker/compose/issues/3352

Should be all fixed now.

[2021-04-02 17:42] tosfos commented on #26
This should be fixed. We resolved it by not allowing the selection of a taxon that has already been added. Please test.

[2021-04-02 19:13] lgeistlinger commented on #26
Tested + works great. Many thanks @tosfos !

[2021-04-02 19:13] #26 closed

[2021-04-08 20:37] tosfos commented on #55
We added the requested icons, as you can see here: https://bugsigdb.org/Study_100/Experiment_2

![image](https://user-images.githubusercontent.com/10228795/114092905-6c9af180-9888-11eb-8e9b-255b90b62071.png)

Note the condition does not always come from efo. For example, the Condition spreadsheet lists:
"air pollution","http://purl.obolibrary.org/obo/ENVO_02500037"

[2021-04-08 20:39] tosfos commented on #55
Yes, we can. Should we import these .txt files? Are they complete?

[2021-04-08 20:43] tosfos commented on #33
Should this go in a new repo? I don't have the permissions to create one.

[2021-04-08 20:46] tosfos commented on #68
You go to the study and click "Flag for review". I did that on this page: https://bugsigdb.org/Study_1/Experiment_1/Signature_1

Once that is done, it can be reviewed again.

[2021-04-08 20:58] tosfos commented on #41
Are you able to easily send this data in a more structured format so we can see the separation between the columns? Maybe as a spreadsheet?

[2021-04-08 22:00] jwokaty commented on #44
@tosfos The backups appear to be working correctly.

I am trying to follow the backup restoration process according to your instructions at [README.docker.md](https://github.com/waldronlab/BugSigDB/blob/master/README.docker.mdf) using the docker files you linked to in the issue; however, I can't seem to configure it properly to access the database. What are the minimum settings that must be config

[2021-04-12 16:04] lgeistlinger commented on #68
Hi @ftzohra22 please check whether this answers your question and close the issue if that is the case. You can also further comment if you have additional questions regarding this issue. Thanks!

[2021-04-12 16:28] ftzohra22 commented on #68
Thank you @tosfos that was helpful!

[2021-04-12 16:28] #68 closed

[2021-04-12 17:14] lgeistlinger commented on #41
Sure, here is a csv file that you can open eg in excel:

[inconsistent_sigs.csv](https://github.com/waldronlab/BugSigDB/files/6298558/inconsistent_sigs.csv)

[2021-04-12 17:29] lgeistlinger commented on #55
Cool, I like it!

"air pollution","http://purl.obolibrary.org/obo/ENVO_02500037"

Yes these are cross-references from within EFO (ie EFO is an umbrella ontology that links out to other primary ontologies for certain terms - so using the efo icon for those is still fine.

I'll pull the aliases for the terms from EFO and UBERON and provide you the complete files in the above defined [3-column specif

[2021-04-13 12:42] lwaldron commented on #33
Sorry I just saw this. For the bugsigdb.org codebase, I'd say just use this repo. For something like the NCBI module, I would create a new repo (or give you administrative permissions to do it), although you could also host that on a wikiworks github if you prefer.

[2021-04-13 12:45] lwaldron commented on #49
Maybe we need to touch base again to decide on search functionality. Search and browse functionality, incorporated into a more functional home page, now seem like the highest-priority items.

[2021-04-28 16:43] ftzohra22 commented on #55
just wanted to note that most of the body sites and conditions are still not linked. For example:
https://bugsigdb.org/Study_255/Experiment_3 (body site and condition not linked)
https://bugsigdb.org/Study_218 (condition not linked)

[2021-04-28 21:58] tosfos commented on #33
Code base done. https://github.com/waldronlab/BugSigDB/commit/2b7873edef884677fa575472f2325d03eb4e11fc

[2021-04-28 22:01] tosfos commented on #33
For NCBITaxonomyLookup, I'd recommend that we request a repo on the WikiMedia Foundation's servers and then document it at mediawiki.org. What do you think?

[2021-04-28 22:11] tosfos commented on #44
Sorry about the delay. I'll follow up soon.

[2021-04-29 06:12] lwaldron commented on #33
Yes, I like that idea.--

Levi Waldron

Associate Professor

Department of Epidemiology and Biostatistics

CUNY Graduate School of Public Health and Health Policy

Institute for Implementation Science in Population Health

55 W 125th St, New York NY 10035

https://waldronlab.io

[2021-05-02 15:56] tosfos commented on #44
This should be fixed now. Please try again.

https://github.com/waldronlab/BugSigDB/commit/b2c26997b29339d3c3ed3c0ead78844b71f3e485

[2021-05-04 16:14] jwokaty commented on #44
@tosfos It seems to be able to connect to the database now; however, I'm still getting the Error Schema Invalid Key page. I see the following output on `docker-compose up`. It has an unknown database error when attempting to run `maintenance/update.php`:

[code]
I've only set `MW_DB_INSTALLDB_PASS` and `MW_DB_NAME` in my `.env`. I've tried running `setupStore.php` in the web container; however, I

[2021-05-07 19:01] lgeistlinger commented on #55
Sorry I have been swamped with a couple of other things, but @tosfos I am now proving the 3-column files for condition and body site now also including the aliases/synonyms directly pulled from EFO (for condition) and UBERON (for body site):

[condition.csv](https://github.com/waldronlab/BugSigDB/files/6443755/condition.csv)
[bodysite.csv](https://github.com/waldronlab/BugSigDB/files/6443756/bodys

[2021-05-09 13:54] tosfos commented on #55
Will do.

[2021-05-11 21:38] tosfos commented on #44
We tried these steps and it worked fine. There was an issue with older database dumps. Can you try again with a recent one?

[2021-05-12 00:10] lgeistlinger commented on #55
These are the synonyms that you get from EFO (condition) and from UBERON (body site) for these terms:

see eg the synonym section at the top of the EFO page for term "epilepsy" [here](https://www.ebi.ac.uk/ols/ontologies/efo/terms?iri=http%3A%2F%2Fwww.ebi.ac.uk%2Fefo%2FEFO_0000474) which correspond to the synonyms you list.

I agree that they are not perfect, but it will require manual interventio

[2021-05-12 19:34] lgeistlinger commented on #55
Hi @tosfos,

I met with @lwaldron today and discussed how to further proceed on this.
Synonyms like "Acetaldehyd" (for term "acetaldehyde") and "[X]Other epilepsy" (for term "epilepsy") are present on the corresponding EFO pages and can be found in scientific publications when googling these terms. As such they are cryptic but represent valid synonyms present in PUBMED articles.

That means that w

[2021-05-17 14:27] jwokaty commented on #44
I will try with a recent backup; however, I'm getting an authorization error:

[code]

[2021-05-25 22:51] tosfos commented on #44
Sorry about that. Looks like you caught us in the middle of a change. Will make that public.

[2021-05-26 16:31] ftzohra22 opened #72 "Signature page error"
@tosfos @lgeistlinger @lwaldron It seems like the signature page is not working. I was able to add an experiment but getting this error message when I try to edit or add a signature.
https://bugsigdb.org/Special:FormEdit/Signature?Signature%5BBase%20page%5D=Study%20428%2FExperiment%201&reload=1&returnto=Study_428%2FExperiment_1

[2021-05-26 18:22] lwaldron commented on #72
@ftzohra22 would you post a screenshot also just in case it's intermittent?

[2021-05-26 19:15] ftzohra22 commented on #72
Sure. Here's a screenshot of the error

![image](https://user-images.githubusercontent.com/45443641/119718095-28ae7c80-be35-11eb-9731-65078e711b7b.png)

[2021-05-27 18:27] tosfos commented on #44
Please give this another shot.

[2021-05-28 17:53] lwaldron commented on #57
will be addressed under #49

[2021-05-28 17:53] #57 closed

[2021-06-01 20:40] tosfos commented on #72
Should be all good now. Please review and close.

[2021-06-01 21:33] ftzohra22 commented on #72
Yes perfect. Thank you!

[2021-06-01 21:33] #72 closed

[2021-06-02 01:37] tosfos opened #73 "Main page improvements"
Include random selections and search features

[2021-06-02 01:40] tosfos commented on #73
We added some random picks to a draft of the new Main page. Please review here. https://bugsigdb.org/Project:Dynamic_Main_Page

It may not refresh what it picks on every page load due to caching. We can disable the cache, but it's probably a good idea to keep it.

[2021-06-02 05:27] lwaldron commented on #73
I love it! I don't see a need for it to refresh on every page load. Could you add a note "Random Taxon" like you do with "Random Studies"? Very minor point though, don't bother if it's a pain. My screenshot below.

![image](https://user-images.githubusercontent.com/639942/120428203-8847e300-c373-11eb-89eb-57260a66f493.png)

[2021-06-02 23:55] tosfos commented on #73
We removed the quote icon. I think it's better this way.

We added the heading requested. Please review.

[2021-06-03 16:31] lwaldron commented on #73
I think it looks great. Loads fast, too. Maybe a showcase search/drill-down, and I will pare down the text to a few links, and the front page should look finished.

[2021-06-04 22:20] jwokaty commented on #44
@tosfos I was finally able to `docker-compose up`; however, I just have a few more questions. I set `MW_ADMIN_USER` and `MW_ADMIN_PASS` in my `.env` file; however, I wasn't able to log in--is this supposed to be the existing admin's username and password? I want to confirm that is the case and that it doesn't create another admin account.

Also, do we need to set `MW_NCBI_TAXONOMY_API_KEY`, `MW_RE

[2021-06-07 21:48] tosfos opened #74 "Drilldown for Studies"
Create a drilldown with filters to make it easier to find Studies that meet specific criteria. Include a CSV link to download the studies.

[2021-06-07 21:51] tosfos commented on #74
We have a functioning prototype available for review [here](https://bugsigdb.org/Special:RunQuery/Drilldown?Drilldown%5BLocation%20of%20subjects%5D=United%20States%20of%20America&Drilldown%5BHost%20species%5D=&Drilldown%5BBody%20site%5D=&Drilldown%5BCondition%5D=&_run=1).

We're going to perform some UI improvements.

Please note the CSV download option. Right now it only allows downloading the St

[2021-06-08 08:13] lwaldron commented on #74
I think this is GREAT. I love how you can start on any of the filters, then see what is remaining for any other filter. I do think users should be able to download also the associated Experiment and Signature data, either as one .zip file containing three csv files, as three separate download links, or as a merged file with studies and experiments repeated (in approximate order of both increasing

[2021-06-08 18:10] tosfos commented on #44
The easiest way to do this would actually be if I sent you the .env file that's in production. It is confidential obviously. Is there a secure way I can send it to you?

To answer your questions:

MW_ADMIN_USER / MW_ADMIN_PASS is only used for fresh database installs (when no dump is provided at __initdb). It will not create or change the admin account for an existing database.

MW_NCBI_TAXONOMY_A

[2021-06-08 21:26] tosfos opened #75 "Improve text search"
Install ElasticSearch

[2021-06-08 21:27] tosfos commented on #75
The full-text search has been improved. You can see an example of the improved search behavior [here](https://bugsigdb.org/w/index.php?search=microbiota&title=Special%3ASearch&profile=default&fulltext=1).

Please let me know if additional improvements are needed.

[2021-06-08 21:29] tosfos commented on #75
Please note that searching for a taxon won't return the taxon query page, since it is not a real page. See [this](https://bugsigdb.org/w/index.php?title=+Special%3ASearch&search=Granulicatella%E2%80%AF&go=Go) example.

[2021-06-09 17:50] tosfos commented on #74
We added a three-level CSV download. Please test everything and let me know if any additional work is needed. Thanks!

[2021-06-10 13:52] lwaldron commented on #74
The three exports is great. I noticed a couple things about the "signatures" export:
* Comma-separated integers tend to get converted to numeric values in Excel in a non-reversible way, and R's popular "readr" package got fooled by this with default settings where it tries to guess column data types. It might save some user headaches to use a different separator for within-cell repetition (semicol

[2021-06-10 13:55] lwaldron commented on #73
Add the drilldown #74 to the front page. I'm not sure whether the text search #75 should be on the front page or just replacing the banner search box, I'll leave that up to you @tosfos.

[2021-06-10 16:43] lwaldron commented on #55
In addition to the examples Fatima provided above, I noticed this again that some body sites and conditions have red links to create a new page even though they are valid ontology terms. Just to write them down:

* https://bugsigdb.org/Study_446 -  Body site: nasopharynx (Also condition COVID-19, which will have to be added to conditions)
* https://bugsigdb.org/Study_448 - Body site: throat, (also

[2021-06-10 16:46] lwaldron commented on #55
(I added the "priority" label just to bump it up, but it doesn't need to jump the queue ahead of the drill-down, search, and front page features)

[2021-06-10 20:31] lwaldron commented on #75
The search works really nicely. I like that it returns results from studies, experiments, and signatures. It doesn't seem like a disadvantage not to return the taxon page, you can click on that from the signature if you want to see the taxon page.

The only thing I might change would be the search options to make them more relevant to this wiki. Maybe I just need to be educated as to what the "Sea

[2021-06-10 21:18] tosfos commented on #73
The text search is already on all pages in the navbar. I don't think we need to highlight it more prominently on the Main Page.

We added a prototype of the Drilldown/Search features to the [Dynamic Main Page](https://bugsigdb.org/Project:Dynamic_Main_Page).

It is intended as a demonstration page to get your feedback and not as a final product.

We have 2 autocomplete boxes. On the left one, you

[2021-06-10 21:30] tosfos commented on #74
I assume the CSVs generated by [Help:Export](https://bugsigdb.org/Help:Export) are OK. Is that correct? We'll try and match that format exactly. It would be good to wait for that before testing.

"Related directly" are Signatures that specifically list this Taxon in the NCBI field. "Inherited" means that it lists a descendant of this Taxon.

[2021-06-10 21:42] tosfos commented on #75
Multimedia would include any uploads. If you don't plan on uploading documents, we can remove that option. Please let me know.

For a simple example about namespaces, the "Content pages" option would only include pages that contain content like Studies, Experiments or Signatures. It wouldn't include pages in the Help namespace. So by default [if you search for "Autocomplete"](https://bugsigdb.org/

[2021-06-11 13:46] lwaldron commented on #75
No no, not worth that much effort. What about somehow displaying more prominently whether the result is a Study, Experiment, or Signature? Although this isn't really necessary either since the words "Experiment" and "Signature" do appear in the title if it's not a Study.

[2021-06-11 14:04] tosfos commented on #75
I agree that it's not necessary. I'd estimate around 3 hours to get it done.

[2021-06-11 14:20] tosfos commented on #55
There are 2 separate things we do for terms. One is to make it a "valid" term. The other is to create a Glossary page for it, which allows adding a definition, link or synonyms. Terms that are valid but don't yet have a Glossary page show up as red links in order to allow you to create that Glossary page.

We do plan on importing the Links and aliases from the CSV. If you can provide definitions w

[2021-06-11 14:48] tosfos commented on #74
We updated the drilldown CSVs to precisely match the Help:Export CSVs. We are still noticing comma delimiters in fields like "|39948|309120,2|1239|909932|1843489|31977|39948,2|1239|". But this issue is not related to the drilldown, since it exists in both places. Should we open a separate "issue" for this request?

[2021-06-11 15:07] ftzohra22 commented on #74
It seems like the 16S variable region data isn't being exported correctly. Its blank on the CSV. Here's an example of Study:389 (https://bugsigdb.org/Special:FormEdit/Experiment/Study_389/Experiment_1?reload=1&returnto=Study_389), Condition: schizophrenia. The variable region selected on the wiki is V2-V3, but the column on the export is blank.
![image](https://user-images.githubusercontent.com/45

[2021-06-11 15:23] lwaldron commented on #73
Some additional discussion going on here: https://github.com/waldronlab/BugSigDB/discussions/78

[2021-06-11 19:55] lwaldron opened #79 "NCBI taxid entry not working?"
When I look at the taxon page for the [Enterococcaceae family (81852)](https://bugsigdb.org/Special:RunQuery/Taxon?Taxon%5BNCBI%5D=81852&_run=1) I see an orange integer taxon 526525 under signature [226:001:001](https://bugsigdb.org/Study_226/Experiment_1/Signature_1). Following that the link I don't see any integer taxon displayed, or the *Erysipelotrichales* order it refers to (NCBI [link](https

[2021-06-13 16:02] tosfos commented on #79
From what I can tell, it's an issue with the underlying lookup from NCBI for this specific Tax ID. Why the lookup fails for this one ID is still a mystery, which we'll explore.

Are you seeing it for any other tax IDs? I did a quick check and didn't see any others.

[2021-06-13 16:10] tosfos commented on #33
I believe this can be closed.

[2021-06-13 16:16] tosfos commented on #56
This is one portion of https://github.com/waldronlab/BugSigDB/issues/73. I probably should have used this issue instead of opening a new one. I'm going to close this one since the other is broader and has discussion.

[2021-06-13 16:16] #56 closed

[2021-06-13 16:26] tosfos commented on #74
Good catch! Should be fixed now.

[2021-06-13 16:28] tosfos commented on #59
This is marked low priority, but the mixed capitalization is causing some confusion for us. We're going to go ahead and fix this as it should be quick.

[2021-06-13 17:09] lwaldron commented on #79
I haven't heard of or seen any others...

[2021-06-14 12:42] lgeistlinger opened #80 "BugSigDB 1.0 release"
Hi @jwokaty:

@lwaldron and I had started to discuss a release scheme for BugSigDB.

One idea was to follow Bioconductor's semi-annual release scheme, and have a stable release of BugSigDB signatures every half a year. We also discussed [zenodo](https://zenodo.org/) as the platform for hosting the stable release (= csv files for studies, experiments, and signatures).

A stable release is supposed

[2021-06-14 13:08] lgeistlinger commented on #80
Note, functionality from our [bugsigdbr](https://github.com/waldronlab/bugsigdbr) package will likely be helpful here, including `bugsigdbr::importBugSigDB` for pulling the data frame that can then be filtered along the usual lines, `bugsigdbr::getSignatures` to extract the signatures of the filtered df, and `bugsigdbr::writeGMT` to write a GMT file containing the signatures.

[2021-06-14 14:20] tosfos commented on #79
It looks like we had a bad value for this Tax ID stored in the cache. We have theories about why this happened, but it's not worth pursuing right now. If it happens again, we can reopen.

We cleared the cache and this issue is now resolved. Please review and close.

[2021-06-14 14:22] lwaldron commented on #79
Looks good now.

[2021-06-14 14:22] #79 closed

[2021-06-14 14:31] lwaldron commented on #80
I added a new organization secret `ZENODO_DEPOSIT` with an access token that should allow depositing through the Zenodo from GitHub Actions in this repo, bugsigdbr, and bugphyzz. Zenodo also has an option for pulling releases directly from any release of a GitHub repo, although that would require either depositing a software + data repo, or creating separate data-only repos. Would be great if you

[2021-06-17 13:49] lwaldron opened #81 "https://bugsigdb.org/Property:Statistical_test cleanup"
The statistical tests (https://bugsigdb.org/Property:Statistical_test) use inconsistent capitalization, e.g.:
* **z**ero-inflated beta regression
* **Z**ero-inflated negative binomial regression

and some terms have no capitalization at all. Standardize on Title Case for all, such as currently used for "Linear Regression". This will require fixing the allowed values, then fixing pages containing t

[2021-06-21 21:02] tosfos commented on #81
There is a site-wide search/replace [here](https://bugsigdb.org/Special:ReplaceText). Please let me know if you need additional assistance.

[2021-06-21 21:04] tosfos commented on #75
How should we proceed with this? @lwaldron

[2021-06-21 21:13] tosfos commented on #44
Can this be closed?

[2021-06-22 05:24] lwaldron commented on #75
Let's leave it for now as a lower priority item.

[2021-06-24 14:32] tosfos opened #82 "Remove section headings for empty sections"
- Maybe remove headers with all missing values from the display (e.g. "Alpha Diversity" for Study_74.

_Originally posted by @chuttenh in https://github.com/waldronlab/BugSigDB/discussions/78#discussioncomment-859849_

[2021-06-30 13:37] lwaldron commented on #81
Looks great @rimsha1 thank you!

[2021-06-30 13:37] #81 closed

[2021-06-30 14:24] lwaldron opened #83 "Maximum number of loops have been performed"
Seeing this right now on https://bugsigdb.org/Study_453# - not sure common of an issue it is:

![image](https://user-images.githubusercontent.com/639942/123977310-2ce33200-d9bf-11eb-978f-a0b2ac92d18d.png)

[2021-07-01 21:32] lgeistlinger commented on #80
Hi @jwokaty @lwaldron : I thought I quickly check in with you as to what's the status of this and whether input/help from my side is required here?

[2021-07-01 23:01] jwokaty commented on #80
@lgeistlinger I'd like to better understand what the release looks like. Will it be 3 csv files: one each for studies, experiments, and signatures? Or will there be different versions in content or file formats?

There's also a place where I can add metadata. I'll try to write it using the website and the repository, but maybe I need some help with the following:

Are there any specific keywords s

[2021-07-02 00:02] lgeistlinger commented on #80
Thanks for checking in @jwokaty.

That's the core, yes. This is also what I think what `bugsigdbr` will pull at one point from zenodo. My thought would be that

[code]

will get a `version` argument so once the 1.0 release is out on zenodo, users could pull the stable release via:

[code]

Currently it directly pulls the bloody edge including unreviewed content from https://bugsigdb.org/Help:Expor

[2021-07-02 00:07] lgeistlinger commented on #44
@jwokaty @lwaldron input required.

[2021-07-02 00:07] #33 closed

[2021-07-02 00:10] lgeistlinger commented on #41
@tosfos is this still in the checks or are we leaving it at that and close?

[2021-07-02 04:20] lwaldron commented on #44
@jwokaty let us know, and close the issue after successful restore and checking presence of data, users, and basic functionality of the restored site.

[2021-07-02 07:03] lwaldron commented on #80
@lgeistlinger would you write a simple .R script that dumps all the required files? I guess it'll be a few: gmt, cab, ncbi ID, names, genus, species, mixed. No need to put versioning or dates in file names, but maybe a comment line in the first line with the date, license, and reference to bugsigdb.org?

[2021-07-02 13:44] lgeistlinger commented on #80
Sure.

[2021-07-02 14:25] tosfos commented on #59
This is now done, as you can see [here](https://bugsigdb.org/Study_238/Experiment_3). Please review.

[2021-07-02 14:29] lgeistlinger commented on #59
Looking good!

[2021-07-02 14:29] #59 closed

[2021-07-02 21:13] jwokaty commented on #44
@tosfos I'm sorry for the delay in following up. Unfortunately, I am again having issues trying to connect to the DB after updating my repo and pulling any new images. I am using the `.env` you put in the Dropbox and a snapshot from earlier this week. I also tried accessing the db directly in the db container using the password but wasn't able to access it. Has the db password changed since you se

[2021-07-05 14:11] tosfos commented on #41
We're still working on this. We'll bump up priority and try and complete it soon.

[2021-07-06 14:53] tosfos commented on #41
It looks like the import column of inconsistent_sigs.csv may be based on an older version of the import CSV. We had 3 versions and I believe that [this](https://github.com/waldronlab/BugSigDB/issues/19#issuecomment-749038827) is the final one. We created our own Python script to test the imported NCBIs against the exported ones and they all matched up, with the exception  that certain NCBI IDs are

[2021-07-06 15:37] tosfos opened #84 "Add logos to the footer"
Add the WikiWorks logo next to the MediaWiki logo, then to the left of that, add the CUNY log. Requested by @lwaldron.

[2021-07-06 15:42] tosfos commented on #84
We added the logos to the footer. Here is a screenshot:

![image](https://user-images.githubusercontent.com/10228795/124628965-f7bb6180-de4e-11eb-89ed-63b1ff8ee9c5.png)

We'd like to do some graphic work to modify the 2 logos to look more like the adjacent logos, as right now it looks very inconsistent. Please let me know if we should go ahead with that. Please also let me know if we should change

[2021-07-06 15:55] tosfos commented on #74
@lwaldron Should we open a separate issue for the comma-delimited integers?

Can this be closed?

[2021-07-06 17:18] lwaldron commented on #84
Yep please go ahead. For CUNY I should probably use a CUNY SPH logo, and there are a bunch of variants to work with at https://www.dropbox.com/s/cq9vbq9ojigo7qi/CUNY-SPH_brand-guidelines_v05.pdf?dl=0 (no need to worry about making some modifications to make it work, no lawyers will come after us!) You could link it to https://sph.cuny.edu/about/people/faculty/levi-waldron/. I would be inclined to

[2021-07-06 17:21] lwaldron opened #85 "User-friendly alternative to comma-separated integers in bulk export"
Comma-separated integers tend to get converted to numeric values in Excel in a non-reversible way, and R's popular "readr" package got fooled by this with default settings where it tries to guess column data types. It might save some user headaches to use a different separator for within-cell repetition (semicolon, since | is already used for taxonomy?).

[2021-07-06 17:23] lwaldron commented on #74
Yes this can be closed, opened a new issue #85 for comma-separated integers.

[2021-07-06 17:23] lwaldron commented on #74
(I would close it myself but am using the GitHub app and can't seem to see an issue-closing feature!)

[2021-07-06 17:43] #74 closed

[2021-07-06 18:51] seandavi commented on #85
You could consider encoding nested data (like lists of integers) as JSON
since json parsers are both fast and available in every language.

[code]

On Tue, Jul 6, 2021 at 11:22 AM Levi Waldron ***@***.***>
wrote:

[2021-07-06 21:48] tosfos opened #86 "Limit the Random Page to Studies"
Clicking "Random Page" in the navigation bar should only pick a random Study page.

[2021-07-06 21:58] tosfos commented on #58
Duplicates the closed #43

[2021-07-06 22:00] tosfos commented on #13
@lwaldron Should anything be done here?

[2021-07-06 22:36] lwaldron commented on #13
Yes go ahead, just one small edit. Instead of:

This would be more helpful;

[2021-07-07 16:17] tosfos commented on #44
Thank you for your persistence! It's not the .env file causing problems as it hasn't been changed on the server, and it wouldn't actually matter if it was.

We tested on 2 separate machines and we were able to get the wiki up without issue. Here are some additional instructions that will hopefully help out. Please let me know if you run into any issue at all and I'll be happy to assist. If you cou

[2021-07-07 16:27] tosfos commented on #44
After thinking about it some more, I'm wondering if you're experiencing the database issue due to an old database image that's still hanging around. Can you try removing all of your images and starting from scratch?

Please let me know if I can help with this.

[2021-07-07 17:49] lwaldron commented on #43
We could open this issue again. The essentials have been taken care of, and this would be a great enhancement. I've tested simple Jaccard Index and it seems to produce pretty intuitive groupings. It's rather heavy to calculate it for all pairwise combinations of signatures so they would have to be pre-computed, and then computed only for signatures that are added or changed. I liked it better than

[2021-07-07 17:56] lwaldron commented on #85
@sean I was mostly thinking of non-computational biologists and Excel here, since the nesting here in the csv file is simple and probably not much of a barrier to someone writing a program.

Just as a note, R users will have https://github.com/waldronlab/bugsigdbr (on its way shortly to Bioconductor). Whatever happens here will be hidden from users of bugsigdbr. JSON would be a friendly feature ad

[2021-07-07 21:59] tosfos commented on #84
We created the following logo images:

<img src="https://user-images.githubusercontent.com/10228795/124833480-400c7980-df4c-11eb-9b81-264f29b38167.png" height="31px">

<img src="https://user-images.githubusercontent.com/10228795/124833565-603c3880-df4c-11eb-9626-69e2510a3aba.png" height="31px">

As you can see, at this size there is too much detail in these logos to look right. We can remove certa

[2021-07-08 16:28] tosfos commented on #86
This is now done. @lwaldron please review and close.

[2021-07-09 11:47] lwaldron commented on #86
Yep, looks good.

[2021-07-09 11:47] #86 closed

[2021-07-09 13:23] lwaldron commented on #84
Your proposal looks nice to me. Perhaps we could clean up the footer text to make room to give prominent credit to funding and CUNY, something like this?

* Privacy policy -> not needed?
* About A Comprehensive Database of Microbial Signatures -> About BugSigDB (keep current link to Project:About)
* Disclaimers -> not needed?
* Funded by NIH 5R01CA230551 to the City University of New York (link to

[2021-07-09 13:28] lwaldron opened #87 "A lot of WantedPages?"
I found this from https://bugsigdb.org/Special:SpecialPages - these seem related to an older page naming convention? Not sure if these links need to be cleaned up but just wanted to point it out.

https://bugsigdb.org/Special:WantedPages

[2021-07-09 13:31] lwaldron commented on #87
There are a lot of links on https://bugsigdb.org/Special:SpecialPages that I'm not sure what they do. Would defer to you @tosfos whether this page should be left as-is or pared down to eliminate irrelevant links.

[2021-07-09 13:34] lwaldron opened #88 ""Browse properties" appears twice in the "Tools" options"
See screenshot (taken from main page):

![image](https://user-images.githubusercontent.com/639942/125085421-d9fa3080-e0ca-11eb-97b5-7c86b2a3c1f6.png)

[2021-07-09 13:37] lwaldron commented on #75
I think this can be closed for now, the text search is working well.

[2021-07-09 13:37] #75 closed

[2021-07-09 13:39] lwaldron commented on #58
I just re-opened #43, so closing this. I added the Priority label there.

[2021-07-09 13:39] #58 closed

[2021-07-09 14:17] lwaldron commented on #41
I don't think documentation of the import is important because we'll never do it again, and its accuracy is confirmed except for these 16. As for these 16, I assumed that these setdiff values were probably all additions, and if so I've finished manually adding them, see below (it was fast because, as I learned, comma-separated NCBI IDs can be bulk-entered in the signature form!) @lgeistlinger coul

[2021-07-09 15:03] lwaldron commented on #55
I think the main action items here are:
1. import the full Uberon Anatomy Ontology for body site (so that all terms autocomplete),
2. import the full Experimental Factor Ontology for condition (so that all terms autocomplete),
3. link terms out to Uberon or Experimental Factor Ontology

A wishlist lower-priority item would be to utilize the hierarchy of these ontologies in browsing features, simil

[2021-07-09 15:06] lgeistlinger commented on #41
Sure, I'll check.

[2021-07-09 15:09] lwaldron opened #89 "utilize ontology hierarchies in browsing features"
The Uberon and Experimental Factor ontologies in use are hierarchical. It would be a powerful drill-down feature to be able to select terms at any level of the hierarchy, and display experiments/signatures matching any children of that term. For example, selecting [oral cavity](https://www.ebi.ac.uk/ols/ontologies/uberon/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FUBERON_0000167) body site

[2021-07-09 15:24] lwaldron commented on #41
Update, @ftzohra22 reviewed Study 286/Experiment 1/Signature 2 and it is correct and marked as reviewed, so these should all be correct now as long as none of the differences were deletions. Once you check @lgeistlinger go ahead and close.

[2021-07-09 15:51] lwaldron opened #90 "Update curation policy"
Some documentation items to add to https://bugsigdb.org/Curation_Policy @ftzohra22. @tosfos some of these might be of interest to you just for curiosity about NCBI naming and synonyms, and how specific names can change over time. It's good we are storing taxids and looking up names, so I assume it shouldn't be an issue e.g. when a species is moved to another genus.

1. If two different figures/tab

[2021-07-09 18:29] tosfos commented on #13
This is done, @lwaldron . Please review [here](https://bugsigdb.org/Special:FormEdit/Signature/test).

[2021-07-09 18:32] tosfos commented on #13
Is our assistance needed at all for this task @lgeistlinger ? Please let me know.

[2021-07-09 18:35] tosfos commented on #88
Ah, yes. This is a Semantic MediaWiki bug that we identified on a separate project. The fix should be fairly simple.

[2021-07-09 18:46] tosfos commented on #87
I wouldn't worry about items like

That's sort of the "Wanted pages" page working as intended. These are reviews that are missing. The naming convention is not quite "older". Even though we changed the page title display to **show** a Study name, the Study number is still used as the actual page title, as you can see from the URLs: https://bugsigdb.org/Study_81 . So these links are actually pointi

[2021-07-09 18:47] tosfos commented on #87
It's probably not worth going through these individually to determine if they are useful. Very few people will get here, and the ones that do will quickly figure out whether they belong there or don't. And almost all of these links are useful to somebody.

[2021-07-09 18:48] tosfos commented on #87
We did notice that the "Wanted pages" list could use some cleanup. We'll check.

[2021-07-09 19:21] tosfos commented on #84
Well it's definitely not needed if it points to a blank page! But the page might be required by law or be a good idea to fill it in. I am not a lawyer, though. Please let me know.

This label is generated based on the site name, which is currently set to "A Comprehensive Database of Microbial Signatures". And that's probably incorrect. We'll change it to "BugSigDB". But the site name is used in ma

[2021-07-12 09:36] lwaldron opened #91 "site usage statistics"
I'd like to keep statistics on traffic to the site over time, and where in the world it comes from. It would also be useful to know about the popularity of pages, and which site features (ie search, drill-down) get used. This will be useful when it comes time to apply for funding for long-term site maintenance.  I'm not sure about pros and cons of Google Analytics vs an installed extension, so wou

[2021-07-12 09:36] lwaldron commented on #84
I've filled in the Privacy policy - took the easy way of saying we follow the WikiMedia privacy policy and linking to https://bugsigdb.org/Project:Privacy_policy, then listing exceptions.

One exception I listed was Google Analytics with anonymized IP, but perhaps there is an extension you could install to create usage statistics instead? I opened this as issue #91 .

[2021-07-12 09:37] lwaldron commented on #87
Sounds good - cleanup the "Wanted pages" but leave all the special pages intact.

[2021-07-12 14:12] lgeistlinger commented on #13
I am going to collect all the remaining tooltips, partly referenced in separate issues above (eg antibiotics exclusion, case definition, completion status) and post them here.

If it's straightforward to add them to the wiki, I can do it myself, otherwise I'd ask for your help @tosfos.

[2021-07-12 22:10] tosfos commented on #91
Browsers are beginning to block tracking JavaScript like the one used by Google Analytics. We often install Matomo to read from the server logs, which mitigates this issue and also avoids reliance on an external service. I would recommend Google Analytics either way as there's little downside to installing it, and often there are discrepancies in the way traffic is reported between the 2 tools.

P

[2021-07-12 22:12] tosfos commented on #13
Sounds good! Please feel free to reach out.

[2021-07-12 22:48] jwokaty commented on #44
I apologize for the delay. I'll follow up on this by Wednesday at the latest.

[2021-07-13 00:07] lgeistlinger commented on #41
Ran another check and we are looking all good now. Closing this issue.

[2021-07-13 00:07] #41 closed

[2021-07-13 00:34] lgeistlinger commented on #13
Hi @tosfos:

Action points here would be to update the tooltips as follows:

- Antibiotics exclusion: `Number of days without antibiotics usage (if applicable) and other antibiotics-related criteria used to exclude participants (if any)`
- Group 1 definition: `Diagnostic criteria applied to define the specific condition / phenotype represented in the case (exposed) group`
- Form Data -> This form'

[2021-07-13 03:23] jwokaty commented on #44
I was able to successfully `docker-compose up` and check users, data, and images. I modified the script and I'm including what worked for me. I ran this manually since there's a part I need to `sudo` to copy the images due to permissions. I also needed to extract the images and insert newlines into the .env. Thanks for your patience. I'm finally closing out this issue.

[code]

[2021-07-13 03:24] #44 closed

[2021-07-13 09:12] lwaldron commented on #91
Installing both tools sounds good to me. I set up a Google Analytics account and gave you access to it too; here's the gtag.gs code it gave me:
[code]

[2021-07-13 09:59] lwaldron commented on #73
The "filter studies" and "browse all studies" seem redundant, differing only by the text next to Taxa on the pages they link to ("filter studies" vs. "select"). I would be inclined to keep the "browse all studies" option and drop "filter studies" since it seems more descriptive and clearly distinguished from the "filter signatures" functionality, and because the Taxa dropdown in the "filter studie

[2021-07-13 18:03] tosfos commented on #84
This is now done:
![image](https://user-images.githubusercontent.com/10228795/125502682-10309774-4012-4f78-8f50-579fcfd78dc6.png)

[2021-07-13 18:05] tosfos commented on #88
This was solved by updating SMW:

![image](https://user-images.githubusercontent.com/10228795/125502890-681f6873-3dca-4914-b7c6-e41842cbd7cf.png)

This can be closed.

[2021-07-13 18:17] tosfos commented on #82
This is done. Please review @lwaldron .

Note how the empty Alpha Diversity section [is now omitted](https://bugsigdb.org/Study_74):
![image](https://user-images.githubusercontent.com/10228795/125504348-60c603c1-4fb0-4735-b81b-06647e1ce6db.png)

[2021-07-13 18:20] tosfos commented on #83
This is now fixed. In theory it can still show up on another page with many more signatures, but that is unlikely. At some point, we'll hopefully re-work the code as it has grown to be quite complex.

[2021-07-13 18:20] #88 closed

[2021-07-14 00:30] lgeistlinger opened #92 "Ontology export columns are incomplete"
@tosfos I'd like to filter signatures exported from BugSigDB by review status for #80.
This seems currently not possible as the only column that we have in the export csv files on review status is `Revision editor`.

However, the field `Revision editor` has value "WikiWorks743" for reviewed content (see eg https://bugsigdb.org/Study_255) as well as content that still needs to be reviewed (see eg h

[2021-07-14 00:46] lgeistlinger opened #93 "Usage of "Mark as reviewed""
@rimsha1 @ftzohra22 @cmirzayi @lwaldron

As part of subsetting the bulk export from BugSigDB to reviewed content only (#80), I took a closer look at the `Revision editor` column.
I am not 100% sure what your current policies are for marking content as reviewed, but it is my impression that newly onboarded curators have started to mark curated studies not only as complete but as reviewed at the sam

[2021-07-14 16:43] tosfos commented on #85
We propose that we add a property to the Signature pages with a semi-colon delimited list of taxon IDs. Then we'll switch the export functionalities to use this new field instead. Does that sound like a good solution?

[2021-07-14 17:24] tosfos commented on #92
That sounds good. Should we also add code for the wiki to ignore the WikiWorks... users for these fields? Usually our edits are not very scientifically useful so we shouldn't be getting credit :).

[2021-07-14 17:56] lwaldron commented on #85
Sounds good to me.

[2021-07-14 18:04] lwaldron commented on #92
Yeah that would make sense to hide the Wikiworks74 etc curations :)

[2021-07-14 18:06] lwaldron commented on #83
Thanks @tosfos !

[2021-07-14 18:06] #83 closed

[2021-07-14 18:56] ftzohra22 commented on #93
I think if a curator edits a paper a few times their names will show under 'Revision Editor' for example: i started curating this covid paper but this student who's working on covid completed curating it. Therefore, their name appears as a 'Revision editor', although it's not marked reviewed. Almost all the new entries have the same curator and revision editor but they aren't marked reviewed.
![im

[2021-07-14 19:05] lgeistlinger commented on #92
There are some more considerations to this though. From the discussion arising in #93, it becomes clear that we would actually like the exported column "Revision editor" to list the person who marked the content as reviewed as @ftzohra22 points out in https://github.com/waldronlab/BugSigDB/issues/93#issuecomment-880132766.

[2021-07-14 19:07] lgeistlinger commented on #93
Thank you for pointing that out!

[2021-07-14 21:06] lwaldron commented on #93
It's by design that "curator" is the original creator and "revision editor" lists every user that has modified it. As far as I know, only reviewers such as Fatima (and Ludwig and I) can mark anything as "reviewed" - but could you have a curator test this? Take a look at the user roles under Help, there are lots of roles, that we could all stand to understand better (most of them are standard Media

[2021-07-14 21:07] tosfos commented on #73
This portion is ready for review. The work on the statistics is in progress.

[2021-07-14 21:08] lwaldron commented on #92
It seems "Revision editor" is correct, but "Reviewer" could be another column in the export.

[2021-07-14 21:12] lwaldron commented on #93
I think this behavior is correct, "reviewer" is different than "revision editor" (reviewer just clicks on mark as reviewed, whereas revision editor has made a change). We would need another display field to display the reviewer, but the tooltip might be adequate?

[2021-07-14 21:24] lwaldron commented on #73
That looks awesome @tosfos. The odometer is about to roll over to 500 studies!

[2021-07-14 21:35] lgeistlinger commented on #93
Agreed. I raised this issue simply because I wasn't aware of the meaning of "Revision editor" being someone who did some kind of edits. It makes sense to have that field to track who changed contents. For #80, I am however indeed interested in another information which our spreadsheet used to have, ie whether and who reviewed the content, and agree that this should be another export column.

[2021-07-14 21:35] lgeistlinger commented on #92
Agreed.

[2021-07-15 15:29] tosfos commented on #73
The statistics section is also [ready for review](https://bugsigdb.org/Project:Dynamic_Main_Page). Please see if we understood the meaning of each statistic correctly.

Note that some of these statistics require lots of calculation and therefore we're significantly slowing down the page load. That's significant if this will be the Main Page of the project. I think we should start thinking about im

[2021-07-15 16:36] lwaldron commented on #73
Looks great @tosfos . Quick feedback:
1. the only statistic that was initially surprising to me was the number of curators, because it doesn't include curators and revision editors prior to bugsigdb.org, but that really doesn't matter.
2. an update once per day would be quite adequate, so if practical these could be just loaded from values that are calculated and cached daily

[2021-07-15 16:46] lwaldron commented on #73
Also a comment on the drill-down. It is a bit frustrating only being able to choose one location of subjects, one body site, one condition, etc. For example, there are the following closely related conditions: gastric adenocarcinoma, gastric cancer, and gastric carcinoma, but I can't combine them all into a drill-down search. Similarly I can't drill down to include all the North American locations

[2021-07-15 16:57] lwaldron commented on #93
I also noted that the "Complete/Incomplete" status would be worth exporting too. So the two items here are to include in the export
1. "Reviewed by" (missing or who marked study/experiment/signature as reviewed), and
2. Complete or Incomplete (or TRUE/FALSE)

[2021-07-16 15:34] tosfos commented on #91
Matomo is now available [here](https://bugsigdb.org/matomo/). I'll send the password privately.

[2021-07-16 15:39] tosfos commented on #91
Note that Matomo only reads the logs once per day to update its data.

[2021-07-16 15:56] lwaldron commented on #91
Matomo looks great! I was able to login and poke around a bit.

[2021-07-16 16:21] lgeistlinger commented on #80
That is basically done and part of bugsigdbr now:

https://github.com/waldronlab/bugsigdbr/blob/main/inst/scripts/dump_release.R

Call the script via: `Rscript dump_release.R <version> <output.directory>`

which will produce the following output files:

[code]

Pending #92 a filter by review status will be incorporated.

[2021-07-23 22:12] tosfos commented on #84
Please review the new custom footer logos. They are live on the site:
![image](https://user-images.githubusercontent.com/10228795/126846058-3d5d9ada-7b49-4792-91e1-2e42fdf08e05.png)

Please let me know if the size should be adjusted.

[2021-07-25 18:10] tosfos commented on #84
We added the custom "funding" text:
![image](https://user-images.githubusercontent.com/10228795/126908965-54859b2b-7341-4c40-b879-19bbaeeee8f8.png)

[2021-07-27 08:36] lwaldron commented on #91
Google Analytics seems to be working too, so the issue looks closed to me.  Re-open if there's anything else to do.

[2021-07-27 09:19] lwaldron commented on #84
Logos and funding text look good. A couple small things for the logos:
1. make the CUNY SPH logo link to https://sph.cuny.edu/about/people/faculty/levi-waldron/
2. put the CUNY SPH logo on the left, perhaps with a bit of a gap to delineate academic partners and software engineering partners.

[2021-07-27 09:54] lwaldron commented on #82
Looks good!

[2021-07-27 09:54] #82 closed

[2021-07-27 10:04] lwaldron commented on #73
This last comment I made belongs in https://github.com/waldronlab/BugSigDB/issues/49. When the layout of the dynamic main page is set and the load time acceptable, it can replace the current main page.

One other small thing, it would be good to fit an additional, more prominent link to https://bugsigdb.org/Project:About on the main page.

[2021-07-27 10:05] lwaldron commented on #49
(moved from https://github.com/waldronlab/BugSigDB/issues/73): In the drill-down, it is a bit frustrating only being able to choose one location of subjects, one body site, one condition, etc. For example, there are the following closely related conditions: gastric adenocarcinoma, gastric cancer, and gastric carcinoma, but I can't combine them all into a drill-down search. Similarly I can't drill

[2021-07-27 15:46] jwokaty commented on #80
@lgeistlinger I am working on this at https://github.com/jwokaty/BugSigDBExports, which I will transfer to waldronlab when it's in a good state. I've created a GitHub action that we can run manually to generate exports with `dump_release.R`.

@lwaldron and I had discussed setting up the action to do a daily export that would be committed to BugSigDBExports. We would do a manual release to get into

[2021-07-27 18:50] lgeistlinger commented on #80
I think that is great.

This is correct. The only place where the `version` argument is used in `dump_release.R` is the header line of the output files, eg [here](https://github.com/jwokaty/BugSigDBExports/blob/main/bugsigdb_signatures_genus_metaphlan.gmt):

[code]

If you call the script with a slight notational abuse and provide a date instead of a version number to `dump_release.R`, the header

[2021-07-27 21:28] lwaldron commented on #80
It looks great! Nice use of the `.zenodo.json` file too.

[2021-07-27 21:29] lwaldron commented on #80
And BTW I think the Zenodo dumps can just have a date within too, releases will have a version number from the tag but the files contain dates as usual.

[2021-07-28 10:39] ftzohra22 commented on #90
Policy updated.

[2021-07-28 10:39] #90 closed

[2021-07-28 22:20] jwokaty commented on #80
We are still waiting on #92 to close before we publish because this may change the content, correct? I've transferred the BugSigDBExports to waldronlab and have scheduled it to do weekly exports on Sunday using dates. The first will be this Sunday. Does this issue really belong to the new repository? I can transfer it.

[2021-07-29 09:13] lwaldron commented on #80
Yes, this issue does belong in https://github.com/waldronlab/BugSigDBExports.

[2021-07-29 09:15] lwaldron commented on #92
Adding a priority label to this as we will make our first versioned data release (https://github.com/waldronlab/BugSigDBExports/issues/4) as soon as it is resolved.

[2021-07-30 20:02] tosfos commented on #84
1. [Done](https://bugsigdb.org/Main_Page).
2. Done:
![image](https://user-images.githubusercontent.com/10228795/127705863-8df201a3-b438-49e6-86ff-4858399aa9c2.png)

[2021-07-30 20:49] #84 closed

[2021-07-31 12:33] lgeistlinger commented on #93
Moving this over to #92 and closing this.

[2021-07-31 12:33] #93 closed

[2021-07-31 12:34] lgeistlinger commented on #92
Moving @lwaldron's comment from #93 here:

[2021-07-31 12:39] lgeistlinger commented on #92
I'd like to add two more columns in the export:

1. The EFO ID of the corresponding condition investigated
2. The UBERON ID of the corresponding body site sampled

as it arises from https://github.com/waldronlab/BugSigDB/issues/55#issuecomment-877253482.
This will allow for systematic analysis and ontology-based queries downstream of the export in eg [bugsigdbr](https://github.com/waldronlab/bugsi

[2021-08-02 03:03] tosfos commented on #92
Sorry. I'm not clear on how to proceed with this. Right now Curator and Revision Editor can list a WikiWorks user. Do we want to change either one or both?

[2021-08-02 03:06] tosfos commented on #92
Do we also want the "Reviewer" field to be prominently displayed next to the Revision Editor field (on the site itself)? Or is OK that you need to hover over the (!) icon in order to see it?

[2021-08-02 11:47] lwaldron commented on #92
I don't feel strongly about this, but blank seems equally informative as WikiWorks user, so fine with me. I would want to search for those pages where both curation and revision editor are blank, and at least make sure they are at least reviewed. I don't think it seems worthwhile to dig out again the pre-wiki curators of these pages.

Again I don't feel strongly about this. Both seem OK, although

[2021-08-02 22:43] lgeistlinger opened #94 "Export link locations change upon modifications to exported content"
The "16s variable region" field doesn't seem to export properly lately as it comes out all blank in the [experiment data export](https://tinyurl.com/yb2fmpa3).

[2021-08-09 03:33] tosfos commented on #92
This part is now "Complete". The requested column can be found [in any CSV](https://bugsigdb.org/Help:Export).

[2021-08-09 03:42] tosfos commented on #85
We added the semi-colon delimiters to both types of CSV export. [Here](https://bugsigdb.org/Special:Ask/-5B-5BCategory:Signatures-5D-5D/-3FOriginal-20page-20name%3DSignature-20page-20name/-3FRelated-20experiment%3DExperiment/-3FRelated-20study%3DStudy/-3FSource-20data%3DSource/-3FCurated-20date/-3FCurator/-3FRevision-20editor/-3FDescription/-3FAbundance-20in-20Group-201/-3FNCBI-20export%3DMetaPhlA

[2021-08-10 20:20] tosfos commented on #92
The

Done.

[2021-08-10 20:21] tosfos commented on #92
Please see if this looks OK in the new CSVs.

[2021-08-11 17:00] ftzohra22 opened #95 "Body site ontology warning message"
There's a message that's appearing since yesterday by the body site field only in cases where the body site is "feces". Other body sites seem to be fine. Here's an example of a paper: https://bugsigdb.org/Study_453/Experiment_4
![image](https://user-images.githubusercontent.com/45443641/129071240-eef025ff-3d85-49ff-90cc-595a343add5c.png)

[2021-08-11 17:16] ftzohra22 commented on #95
Found another body site with this message: https://bugsigdb.org/Study_121

[2021-08-12 03:25] tosfos commented on #95
Will check.

[2021-08-12 19:32] tosfos commented on #95
Fixed. Please review and close.

[2021-08-13 16:44] ftzohra22 commented on #95
Thanks!

[2021-08-13 16:44] #95 closed

[2021-08-16 10:09] lgeistlinger commented on #94
The problem seems to be that the underlying link has changed from

BEFORE:

"https://bugsigdb.org/w/index.php?title=Special:Ask&x=-5B-5BCategory%3AExperiments-5D-5D%2F-3FOriginal-20page-20name%3DExperiment-20page-20name%2F-3FRelated-20study%3DStudy%2F-3FLocation-20of-20subjects%2F-3FHost-20species%2F-3FBody-20site%2F-3FCondition%2F-3FGroup-200-20name%2F-3FGroup-201-20name%2F-3FGroup-201-20definiti

[2021-08-16 10:28] lgeistlinger commented on #92
As noted in #94, it is problematic for downstream applications that these changes to the export files cause the link location to change. It would be preferable if we would have links such as eg `https://bugsigdb.org/export/experiments.csv` that would always point to the latest version of these bulk export files.

[2021-08-16 10:36] lgeistlinger commented on #92
Columns `State` (for completion status) and `Reviewer` (for review status) look great.

[2021-08-16 10:48] lgeistlinger commented on #92
EFO / UBERON ID: It looks like https://github.com/waldronlab/BugSigDB/issues/55#issuecomment-877253482 precedes this, as these columns are currently mostly blank. We are missing eg the corresponding EFO ID for terms like "adenoma". This is true for the export files but also the pages itself (eg https://bugsigdb.org/Study_1/Experiment_1), where links to the EFO IDs / EFO pages are missing.

Also,

[2021-08-17 21:26] lwaldron commented on #55
@lgeistlinger can you add all the EFO and Uberon ontology terms to the autocomplete fields? I noticed that we have a misspelled condition "irritable bowel sydrome" [in 9 studies](https://bugsigdb.org/Special:RunQuery/Drilldown?Drilldown%5BLocation%20of%20subjects%5D=&Drilldown%5BHost%20species%5D=&Drilldown%5BBody%20site%5D=&Drilldown%5BCondition%5D=irritable%20bowel%20sydrome&Drilldown%5BTaxon%5D

[2021-08-17 21:35] lgeistlinger commented on #55
Sure. Will provide.

[2021-08-18 15:28] tosfos commented on #94
Ah, OK. That makes sense. I don't think there is a way to provide a stable link though, from the MediaWiki side. Can you modify the script to scrape the current URL from the Help:Export page? We can separate the 3 links to be stored on separate pages if that would help. (We can have one of our developers modify the R code if needed.)

If that is not possible, we can store a static CSV on the serve

[2021-08-18 15:39] tosfos commented on #87
The Wanted pages are all cleaned up. This can be closed.

[2021-08-18 15:41] tosfos opened #96 "Category page weirdness"
We noticed an issue with Category pages that is strange. The category page shows the wrong numbers and is lacking next/prev navigation for some reason

We're having a hard time tracking down the source of the issue.
![image](https://user-images.githubusercontent.com/10228795/129928308-9de8e9d2-6bb1-4567-955d-4437ab674041.png)

[2021-08-18 16:05] tosfos commented on #92
I figured out what's happening. The leading zeros are being exported, as you can see in a text editor:
![image](https://user-images.githubusercontent.com/10228795/129932311-cc3d8495-002f-4cfb-b900-487538d50a74.png)

The spreadsheet application is interpreting these as numbers and removing the leading zeros, but it's not the application's fault. Semantic MediaWiki should be surrounding these fields

[2021-08-18 16:09] tosfos commented on #85
Can this be closed?

[2021-08-18 19:11] lwaldron commented on #85
Yes, looks great.

[2021-08-18 19:11] #85 closed

[2021-08-19 21:00] tosfos commented on #92
My previous comment was incorrect. Semantic MediaWiki is doing everything right. The SMW CSV exporter simply uses the PHP native fputcsv to create its CSV files. And the CSV spec appears to say that numbers don't need to be wrapped in quotes. So the spreadsheet application is what is at fault since technically all CSV fields should be interpreted as text, but I guess it's doing its best to figure

[2021-08-19 21:03] tosfos commented on #73
We added the link to the About page and other styling improvements:
![image](https://user-images.githubusercontent.com/10228795/130143559-718e6017-65fb-46ee-9b1c-e9450f3035ee.png)

[2021-08-20 07:06] lgeistlinger commented on #92
Right, the IDs are indeed exported with leading zeros (my bad), but would it be possible to export them with leading "EFO:" for condition and leading "UBERON:" for body site? Not a problem if not, as we can also add them downstream in our R application. It would just be more convenient and more straightforward to use for everyone who doesn't use the R application but rather works on the exported f

[2021-08-20 07:47] lgeistlinger commented on #94
It sounds like the second option would make for a cleaner self-contained solution directly on bugsigdb.org, but I am also ok with the scraping for our R package.
This will be fine as long as we are using these export links only internally, and as an intermediate prior to upload a stable release under a specified link on zenodo - which is then the entry point for external applications.

But I think

[2021-08-20 08:01] lgeistlinger commented on #13
Just wanted to check in whether we are all set for this one or whether additional input / actions from my side are needed?

[2021-08-20 08:39] lgeistlinger commented on #55
I added all 27,175 EFO terms from

[code]

to the [admin field for condition](https://bugsigdb.org/w/index.php?title=Property:Condition/Values&action=edit).

I also added all 14,107 UBERON terms from

[code]

to the [admin field for body site](https://bugsigdb.org/w/index.php?title=Property:Body_site/Values&action=edit).
It seems to cause the bugsigdb.org page some processing work, as I see a:

`C

[2021-08-20 13:22] lwaldron opened #97 "Unable to edit experiments"
@lgeistlinger and I are currently unable to edit any Experiment (e.g. https://bugsigdb.org/Special:FormEdit/Experiment/Study_317/Experiment_2?reload=1&returnto=Study_317). The message is:

Is this related to the addition of some tens of thousands of ontology terms to the allowed values? See #55

[2021-08-20 16:47] lwaldron commented on #73
This looks great! Time to move it to the main page? I've already started pointing people to the current rough main page, with caveats etc.

[2021-08-20 16:56] lwaldron commented on #92
"EFO:" and "UBERON:" are also not a bad idea to include if it's not difficult because there are also other potentially relevant ontologies. We could in theory mix ontologies and use downstream tools to map them, and even if we never do that, it's more communicative to someone downloading the file who isn't familiar with its contents.

[2021-08-20 17:16] lgeistlinger commented on #92
It's a great point. As we already observed (https://github.com/waldronlab/BugSigDB/issues/55#issuecomment-801474939), EFO actually already *is* an umbrella ontology, meaning not all EFO IDs start with "EFO:", but also "CHEBI:", "Orphanet:", "HP:", and "MONDO:", ...
In numbers only 11,338 out of 27,175 terms in the EFO start with "EFO:". We thus indeed need the prefixes as available from the Term I

[2021-08-20 19:48] tosfos commented on #73
If you're comfortable with the current performance, we can. I'm not so happy with it and I'm hoping to at least improve things over the next few days.

[2021-08-20 19:50] tosfos commented on #13
Sorry. I wasn't assigned to this so I wasn't checking it. Will do.

[2021-08-21 11:54] lwaldron commented on #73
It does not have much public promotion or usage yet so I don't mind either way, but would like to put the nice front page up soon. It does seem to need some performance improvement to be ready for wide use.

[2021-08-21 12:01] lwaldron commented on #94
I don't feel strongly but the scraping alternative has some advantages:
1) it means that the bulk download from bugsigdb.org is current up to the minute (or hour?)
2) the plan is for daily dumps to be available anyways at https://github.com/waldronlab/bugsigdbexports, plus periodic releases with DOIs on Zenodo, and we can point people to those places for stable links

[2021-08-21 12:01] lgeistlinger commented on #13
Looks like those have already been included on the page. Closing. Thanks @tosfos!

[2021-08-21 12:01] #13 closed

[2021-08-21 12:35] lwaldron commented on #94
Come to think of it @lgeistlinger , why don't we use the scraping solution for the GitHub Action at https://github.com/waldronlab/BugSigDBExports, but then use BugSigDBExports as the data source for bugsigdbr? We can easily increase the update frequency there to daily. It would shift load from our server to github's servers, and with commit hash or version as an argument it would make reproducible

[2021-08-21 14:10] lgeistlinger commented on #94
It's a good idea. Currently, there is some circular logic here as `BugSigDBExports` uses `bugsigdbr` to pull the data from bugsigdb.org (via `bugsigdbr`'s `dump_release.R` script).
But if we wanted to resolve that, then

1. the scraping solution + the current body of `bugsigdbr::importBugSigDB` would need to go into `bugsigdbr`'s `dump_release.R` script.
2. `bugsigdbr::importBugSigDB` would need t

[2021-08-23 18:35] tosfos commented on #97
We increased the timeout, so now the form will load. I'll follow up regarding the underlying performance issue.

[2021-08-23 21:08] tosfos commented on #49
We set up a rough draft for this feature. You can see the form [here](https://bugsigdb.org/Special:RunQuery/Drill?Drill%5BCondition%20logic%5D=AND&Drill%5BLocation%20logic%5D=AND&Drill%5BSite%20logic%5D=AND&_run=1) (click "Set up form"). And you can see sample results for the above conditions, [here](https://bugsigdb.org/Special:RunQuery/Drill?Drill=Condition%2Blogic%3DAND%26Location%2Blogic%3DAND

[2021-08-24 17:56] tosfos commented on #73
We can go ahead an switch to the dynamic page. Note that there is content on the [Main Page](https://bugsigdb.org/Main_Page) that will no longer be accessible. Is that OK?

[2021-08-24 18:28] tosfos commented on #89
I have some ideas about it. And now that we have 28K+ values form Condition, we really should look at an alternative like this to make the Condition data set easier to process and use.

Besides for the hierarchy itself, it would be nice to use all of the data about the condition. I think we're essentially duplicating data that already exists by using the [Glossary](https://bugsigdb.org/w/index.php

[2021-08-24 18:44] #87 closed

[2021-08-24 18:48] tosfos commented on #92
We combined the two columns as requested:
![image](https://user-images.githubusercontent.com/10228795/130672797-76843278-4ab3-44d3-895e-ef88ee3a4298.png)

Please let me know if this looks oK now.

[2021-08-24 20:20] tosfos commented on #55
Noting that besides for the Form loading issues, the number of allowed values in these fields exceeds what the (older) Drilldown (https://github.com/waldronlab/BugSigDB/issues/74)  feature could tolerate. We disabled these fields [for the initial (no filter)  load](https://bugsigdb.org/Special:RunQuery/Drilldown?_run=1) so that the drilldown would load properly. Once any filter is selected [these

[2021-08-24 21:03] lwaldron commented on #73
yes that is ok.

[2021-08-24 21:18] lwaldron commented on #49
Did my first trying it out and it looks amazing. At first I didn't understand why the search results seemed to include search terms I hadn't entered, then I realized it was showing characteristics of the experiments found in the results. Might be good to show an "About these search results" link for those who don't get it right away. More thoughts @lgeistlinger @ftzohra22 @rimsha1 @cmirzayi @jwoka

[2021-08-25 05:47] lwaldron commented on #92
Looks good! My only question is why so many EFO IDs are missing, since all
the condition terms were taken from the EFO?--

Levi Waldron

Associate Professor

Department of Epidemiology and Biostatistics

CUNY Graduate School of Public Health and Health Policy

Institute for Implementation Science in Population Health

55 W 125th St, New York NY 10035

https://waldronlab.io

Join the microbiome Vir

[2021-08-25 09:03] lwaldron commented on #97
@ftzohra22 is reporting still being unable to edit experiments. Should we just revert the addition of all the ontology terms to condition and body site until we have a better way to use these ontologies?

![image (1)](https://user-images.githubusercontent.com/639942/130761459-325163ad-b4e3-4fb1-8b61-5055434adeca.png)

[2021-08-25 09:07] lgeistlinger commented on #97
Can confirm Fatima's observation. Reverting would be easy, however I think the current developments are important for getting the ontology handling on bugsigdbr.org in shape. Is there a way to continue the work that's under way on this ("devel branch") without disrupting ongoing curation work ("release branch")?

[2021-08-25 09:11] ftzohra22 commented on #92
I also noticed these on CSV exports (my filters were 'streptococcus' 'homo sapiens' and 'feces') :

1. Some conditions and EFO missing as @lwaldron mentioned: My guess is, this could be because a lot of them aren't entered correctly (not validated terms), for example: (https://bugsigdb.org/Study_426) 'Autoimmune Hepatitis' entered as lower case 'autoimmune hepatitis', might have resulted in empty

[2021-08-25 09:19] lgeistlinger commented on #92
Two points here:

1. @tosfos: where are the mappings term name (eg "obesity") -> term ID (eg "EFO:00...") are coming from?
2. @ftzohra22 @rimsha1 @lwaldron : we need reviewers to continously screen for invalid entries entered by curators in the condition, body site, matched on, confounders controlled for fields. The clean-up pages are supposed to assist with that.

[2021-08-31 21:23] lwaldron opened #98 "Body site not in drilldown"
Is there a reason not to have Body site along with "Location of subjects" and "Host species" in the Drilldown?

https://bugsigdb.org/Special:RunQuery/Drilldown?_run=1

![image](https://user-images.githubusercontent.com/639942/131577626-02be4b77-7e06-4fbd-b85a-371486289f93.png)

[2021-08-31 21:29] lwaldron commented on #97
I just tried now and was able to edit the Study_440 Experiment_1, but Experiment_2 just remained a blank page. This should be the top priority to allow curators to get back to entering new data, even if it just means going back tot he fewer body sites and conditions that we had.

[2021-08-31 21:43] lwaldron commented on #97
I just rolled back @lgeistlinger 's addition of the full ontologies - still just getting familiar with working with a MediaWiki and how easy it is to undo or redo changes. I just rolled back the edits on August 20 under "Recent Changes". I see that by clicking on the "hist" of Property:Body site/Values or Property:Condition/Values, it would be easy to re-apply those changes when we are ready to. I

[2021-09-03 19:49] tosfos commented on #73
We're working on one more issue with the Random Taxon and then we'll launch the new page.

[2021-09-03 19:49] tosfos opened #99 "Improve Performance"

[2021-09-03 19:54] tosfos commented on #99
We added Varnish for anonymous (not logged in) users. Even for complex study pages, they will now load near-instantly if that page is in cache (meaning that it was visited recently by an anonymous user). This will need adjustment over time, since it means that there may be some lag after a wiki page is changed before an anonymous user sees that change. Feel free to try this out! Log out of the wik

[2021-09-03 21:04] lwaldron commented on #99
Wow, it is FAST! Also the dynamic main page. That's fantastic. I don't see a problem with some lag after a wiki page is changed.

[2021-09-03 21:10] lwaldron commented on #73
Great!

[2021-09-03 21:16] lwaldron commented on #73
One small thing, it looks like if you stacked Random Studies below Random Taxon, then Taxa (maybe call this Taxon Browser, and make the heading the same font as the other three panels) above Statistics, it would make a more symmetric layout? Not a high priority, but if it is not difficult...

[2021-09-03 21:22] lwaldron opened #100 "taxa lookup for species says "No taxa found.""
In the taxa lookup, e.g. [Species: Escherichia coli](https://bugsigdb.org/Special:RunQuery/Taxon?Taxon%5BNCBI%5D=562&Taxon%5BBody%20site%5D=&Taxon%5BCondition%5D=&_run=1) it says "No taxa found." because there are no descendants found. "No taxa found" may be misleading for someone who doesn't have that context, and something like "No descendants found" (or is it "No direct descendants found"?) wou

[2021-09-06 14:20] lgeistlinger commented on #94
@jwokaty and I have reworked `bugsigdbr` and `BugSigDBExports` [as specified](https://github.com/waldronlab/BugSigDB/issues/94#issuecomment-903121949). As of `bugsigdbr_0.99.7`, `bugsigdbr::importBugSigDB` pulls the data from `BugSigDBExports`, which in turn pulls and assembles the data from bugsigdb.org. Closing here, follow-up can be done via raising an issue under `bugsigdbr` or `BugSigDBExport

[2021-09-06 14:20] #94 closed

[2021-09-06 21:19] tosfos commented on #89
We have an idea for how to do this. We'd basically pull data on the fly from their API and use that to display a tree-style component that can be used for both storing the correct ontology value in the form and for later drilling down based on that same tree in order to find all Studies that have an experiment with that value.

This will take some time to get it right, but it will be a great site

[2021-09-06 21:28] tosfos commented on #97
[This seems OK now](https://bugsigdb.org/Special:FormEdit/Experiment/Study_440/Experiment_2). Are you still seeing any issues?

I think the underlying performance problems will be fixed once we fully resolve https://github.com/waldronlab/BugSigDB/issues/89.

[2021-09-06 21:32] tosfos commented on #92
They come from [the glossary](https://bugsigdb.org/Category:Glossary). Right now, we'd need to create a new page for each condition (although we could import a CSV). However, this also depends on #89. If we go ahead with that, we'll be able to query their API and remove the need for the Glossary.

[2021-09-07 22:27] lwaldron commented on #97
Yes, it was resolved by reverting the addition of all ontology terms.

[2021-09-07 22:27] #97 closed

[2021-09-09 17:47] lwaldron commented on #92
I think this is higher priority than #89 and needed for basic functionality, whereas #89 is more of a wishlist. For now, the following would suffice for basic functionality:
1. a page for each condition
2. the ontology columns being complete in the export
3. ideally, the complete EFO and Uberon ontologies in the system for autocomplete etc, but we could live longer with having to enter manually on

[2021-09-09 18:06] lwaldron opened #101 "Fine-graining of Pages with missing NCBI ID"
I spent some time trying to clean up https://bugsigdb.org/Category:Pages_with_missing_NCBI_ID, and kept notes on its talk page (https://bugsigdb.org/Category_talk:Pages_with_missing_NCBI_ID). What I found is there are a few categories of unmapped taxa in these signatures:
1. not reviewed
2. reviewed but not resolved, should revisit
3. reviewed and cannot be fixed

Currently the only way I can keep

[2021-09-09 18:28] tosfos commented on #100
We elected to go with "No further descendants found." Please review [here](https://bugsigdb.org/Special:RunQuery/Taxon?Taxon%5BNCBI%5D=562&Taxon%5BBody%20site%5D=&Taxon%5BCondition%5D=&_run=1).

[2021-09-10 01:27] lwaldron commented on #100
Looks good.

[2021-09-10 01:27] #100 closed

[2021-09-10 21:03] lwaldron opened #102 "Study lookup returns page with `::` codes and no experiments or signatures"
I expected the [Study lookup](https://bugsigdb.org/Project:Study_lookup) to return a regular study page like https://bugsigdb.org/Study_21, but instead it returns a study only, with a lot of `::` in it and no Experiments or Signatures (screenshot of [Study 21 as returned by study lookup](https://bugsigdb.org/Project:Study_lookup?title=Project%3AStudy_lookup&pfRunQueryFormName=Study+filter&Study+fi

[2021-09-10 22:25] lwaldron commented on #99
Just wondering if something is wrong with Varnish? It's taking me 6-8 seconds to load the dynamic main page in an  Chrome desktop incognito browser, and this seems to be confirmed by Google Pagespeed analysis: https://developers.google.com/speed/pagespeed/insights/?url=https%3A%2F%2Fbugsigdb.org%2FProject%3ADynamic_Main_Page&tab=desktop

[2021-09-13 03:03] lwaldron commented on #92
Adding the bug label since specifically for the incomplete ontology columns in the export. That is the final remaining item for our first "official" export of bugsigdb, see https://github.com/waldronlab/BugSigDBExports/issues/4#issuecomment-917712225. This is a high priority item.

[2021-09-13 13:58] lgeistlinger commented on #92
Hi @tosfos: how do you think we should best proceed for this? Should I provide a csv for importing or do you go ahead with pulling the mappings directly from EFO and UBERON?

[2021-09-13 15:32] lgeistlinger commented on #43
@tosfos @lwaldron : how do we proceed with this? Are we proceeding along these lines:

I am noting in this context that I recently played around with the concept of [semantic similarity](https://en.wikipedia.org/wiki/Semantic_similarity). Here we are treating the NCBI taxonomy as an ontology and calculate pairwise similarity between signatures or groups of signatures as eg implemented in the [onto

[2021-09-13 16:54] lwaldron commented on #43
Since this is an enhancement, it should be lower priority than getting the home page and all basic functionality in place. Eventually after the other key functionality is implemented, we may want to discuss whether semantic similarity is practical to implement, because it is elegant and probably will provide more relevant similarities than Jaccard for mixed-taxonomy signatures.

[2021-09-14 22:02] tosfos commented on #92
Sorry about the delay! We'll send over a CSV shortly with a header row and an example row. That will help you fill it out.

[2021-09-14 22:10] tosfos commented on #99
We're working on that page now and running into some trouble.

[2021-09-14 22:17] tosfos commented on #101
Will do.

[2021-09-14 22:22] tosfos commented on #102
Will do.

[2021-09-15 00:21] lwaldron commented on #99
"featured taxon" sounds fine to me. How about just changing those daily or something?

[2021-09-15 17:08] tosfos commented on #92
[Glossary Import Format.csv](https://github.com/waldronlab/BugSigDB/files/7172033/Glossary.Import.Format.csv)
Please use the attached CSV. Here are some notes on the fields:

1. **Title** will be used as the page name
2. **Term** should be lowercase (or an abbreviation), so that we can match it up with the current Body site and Condition fields.
4. **Definition** should be brief and in plain text.

[2021-09-15 17:14] tosfos commented on #98
We had removed the Body site & Condition fields after the number of values was expanded. We added them back now that those lists have been shortened.

[2021-09-15 19:52] lgeistlinger commented on #92
Sounds good. Which field is used to store the term ID (eg "EFO:0001075") for a given term name (eg "ovarian carcinoma")?

[2021-09-15 21:09] tosfos commented on #92
We should be able to derive this automatically from the URL. I don't think we need to worry about that field.

[2021-09-16 13:44] lgeistlinger commented on #92
Alright. A look at what information is typically available for a term in the official [EFO OBO release](https://www.ebi.ac.uk/efo/efo.obo) - here for term "ovarian carcinoma":

[code]

That means I will be able to deliver fields 1-5 of your csv with

1. Title -> name
2. Term -> name
3. Definition -> def
4. Alias -> synonym

(lhs: fields in your csv; rhs: fields in the EFO)

5. Links will be of the

[2021-09-16 19:56] cmirzayi opened #103 "CSS not loading on all pages"
@tosfos

On all bugsigdb pages the stylesheet is not loading. Tested on three browsers (chrome, firefox, edge) on two computers using normal browsing and incognito/privacy mode as well as on a mobile device (Android). Confirmed by @lwaldron.

Examples:

![image](https://user-images.githubusercontent.com/13036789/133677200-abd79f04-90cf-41b9-afa4-ad4b175c350b.png)
![image](https://user-images.githu

[2021-09-16 22:15] lwaldron commented on #103
Confirmed.

[2021-09-17 14:02] tosfos commented on #103
We redeployed the image last night and everything looks good now. It's not clear why this happened. If it does happen again, we'll try and track down why.

[2021-09-17 14:50] tosfos commented on #96
This was traced to a bug in the DisplayTitle extension. It is now fixed: https://bugsigdb.org/Category:Signatures

[2021-09-17 16:05] tosfos commented on #92
We added the Latin column since we assumed it would be a nice feature given the site's medical nature. If it won't be used, we'll remove it. Please advise.

On second thought, you can ignore the Term column. It looks like it will always have the same data as the Page Name, so we can just calculate the lowercase of that field instead.

[2021-09-19 17:50] lgeistlinger commented on #92
The latin column sounds indeed like a nice feature, but as EFO/UBERON do not provide latin equivalents for the terms, and I don't see a way of easily obtaining that otherwise, I suggest to just drop that column.

I have accordingly prepared the csvs for:

- [Condition](https://www.dropbox.com/s/gcr7ttd5hune4rj/condition_glossary.csv?dl=0) (28,384 terms), and
- [Body site](https://www.dropbox.com/s

[2021-09-19 18:07] #96 closed

[2021-09-19 18:08] #98 closed

[2021-09-19 18:09] lgeistlinger commented on #103
Can confirm that things are back.

[2021-09-19 18:09] #103 closed

[2021-09-20 16:02] tosfos commented on #92
Thanks. We'll drop the latin column.

Does it make sense to first clean up some of the strange formatting like:
`293 cell$;A-293 cell$;A293 cell$;HEK cell$;HEK293 cell$;human embryonal kidney cell$;human embryonic kidney cell`

Or is that something we would do after the import?

If they are valid terms, it makes sense to just add these as aliases, and these can be discovered and fixed after the im

[2021-09-20 16:16] lgeistlinger commented on #92
As described [previously](https://github.com/waldronlab/BugSigDB/issues/55#issuecomment-834696762), the synonyms for a specific term can contain all kind of special characters so some improvisations was needed as to what to use as separating synonyms..
This is technically a comma-separated list of synonyms for each term, but as commas and semi-colons are partly contained in the synonyms - I used `

[2021-09-20 16:20] lgeistlinger commented on #92
I could potentially also just replace any existing commas in the synonyms, and provide a comma-separated list of synonyms for each term if that makes processing easier.

[2021-09-20 16:34] tosfos commented on #101
I can see these options for how to create the Taxa review system:

1. A single review system for all taxa contained in a single signature.
2. A review system for each individual taxon contained in each signature.

I think option 1 is easier, but clunky. A signature could contain multiple taxa that each need work. For example, one taxon could be unresolveable, while the other should be revisited. S

[2021-09-23 14:11] lwaldron commented on #101
Option 2 sounds great if it isn't too difficult. I certainly have resolved some names to NCBI ID's where I thought, "this isn't perfect but it's better than nothing" because at least it identifies the correct genus or higher rank. I don't think we would go through a review process for every single taxon, but for ones that are flagged for review because they are unmapped or the curator is uncertain

[2021-09-23 16:32] tosfos commented on #102
We created a new Study lookup method. Please review [here](https://bugsigdb.org/Project:Study_lookup). It has a really nice search feature built-in too.

[2021-09-23 17:13] tosfos commented on #101
This sounds good! Should there also be a field where a reviewer can add comments explaining why a status was assigned?

[2021-09-23 17:55] lwaldron commented on #101
Yes that'd be useful!

[2021-09-23 18:20] lwaldron commented on #102
That is great! It's almost too fast and simple, people will think what it's
doing is trivial :D But seriously, it's really nice. The only quirk I
noticed was the ordering of studies 1, 10, 100, 101, 102, ... - the most
intuitive sorting might be alphabetically by title but that really doesn't
matter.

[2021-09-24 16:49] lgeistlinger commented on #92
@tosfos I have accordingly updated the csvs for:

- [Condition](https://www.dropbox.com/s/gcr7ttd5hune4rj/condition_glossary.csv?dl=0) (28,391 terms), and
- [Body site](https://www.dropbox.com/s/pooi3am3h8hkeke/body_site_glossary.csv?dl=0) (14,941 terms)

This required action on the following items on bugsigdb.org for "conditon" - which were not a term title in the efo but either:

(i) represented

[2021-09-24 20:02] lwaldron commented on #92
Great, @lgeistlinger. From my perspective, #73 getting the dynamic home page onto the home page, followed closely by this issue, are our top priorities.

[2021-09-27 19:12] tosfos commented on #92
We tested out the "$;" as a delimiter and it seems to work fine. We did a test import of some of these terms, and you can see 17 new terms as part of the [Glossary](https://bugsigdb.org/Category:Glossary).

Questions about the aliases.

1. When using the form, it will only autocomplete based on the Condition list that is enumerated on the [Condition property page](https://bugsigdb.org/Property:Con

[2021-09-27 19:19] tosfos commented on #73
It looks like the issues between the random sections and our caching system will still need some work. In the meantime, I know that launching the new Main Page is a high priority, so [I went ahead and copied it over](https://bugsigdb.org/Main_Page). We'll keep working on it though.

Once the contents are finalized, we'll look at creating a more symmetric layout.

[2021-09-27 19:47] lwaldron commented on #92
1. That seems fine to me.
2. That seems OK, although it would be nice to have a method for cleanup of the Condition property page. i.e. I noticed we currently have:
    - nicotine dependence
    - Nicotine dependence
    - non-alcoholic fatty liver
    - non-alcoholic fatty liver disease
I noticed these by eye but it would be great to see any unknown Conditions here and be able to tell administrat

[2021-09-27 20:28] lgeistlinger commented on #73
Just saying that this looks FANTASTIC!

[2021-09-30 20:30] tosfos commented on #101
Please see what we have in mind for the taxon review [here](https://bugsigdb.org/Special:FormEdit/TSig_Review/Review:Study_513/Experiment_2/Signature_1/1301?namespace=Review).

I think it makes sense to split into 2 different fields, but I"m not sure exactly how they should work. Conceptually, a taxon can be Reviewed or Unreviewed, and if it is Reviewed it can be assigned a Score, which can either

[2021-09-30 20:32] tosfos commented on #73
Thanks so much! We have an amazing team :).

[2021-09-30 23:37] lwaldron commented on #101
It looks good! Questions/comments:
1. Reviewed vs Incorrect don't exactly seem like complements, and "Incorrect" + "Can't fix" would have unclear meaning to me. I wonder if this should be "Flag for review" vs "No known issues"? Unless you mean for a state of "Incorrect" to be automatically applied for unmapped taxa? Otherwise, if whether a taxon has been reviewed can be implied from whether a revi

[2021-09-30 23:45] lwaldron commented on #101
By the way, I just noticed and loved the little taxon review icons with their mouseovers! From https://bugsigdb.org/Study_513/Experiment_2/Signature_1:
![image](https://user-images.githubusercontent.com/639942/135544789-4306954a-6e56-4485-bad7-3e808e9344f6.png)

One suggestion: for people less familiar with our terminology, "Issues with this entry" might be more intuitive for the mouseover? Review

[2021-10-01 19:15] tosfos commented on #92
Are you referring to terms that are neither "main" terms nor aliases? If so, we already track fields that are set improperly.

[2021-10-04 21:11] tosfos commented on #102
We changed the sorting to alphabetically by title, which does make much  more sense. And if you liked the old one, I think you'll love it now! We added some really amazing study sorting. [Please let me know what you think](https://bugsigdb.org/Project:Study_lookup).

[2021-10-19 17:31] lgeistlinger commented on #92
Just wanted to quickly check in in here one more time as to whether the Oct 25 deadline is realistic for that? It's no problem at all if don't make it, then we introduce changes somewhere along the way, but it would make for a nice clean introduction into the Bioc release if we were able to meet that date. Thanks!

[2021-10-20 13:38] lwaldron opened #104 "new signatures not showing up in https://bugsigdb.org/Study_555"
Curators have reported that after adding a new signature to Experiment 1 in https://bugsigdb.org/Study_555, no signature appears.

[2021-10-21 21:21] tosfos commented on #101
I was intending for the "Needs Review" status to be the same as your "OK (default)". I know it sounds like these are very different. But how would you know that a taxon doesn't need to be reviewed unless someone reviewed it and said "Resolved" (or "OK")? My idea was that all taxa would default to "Needs Review" until someone reviewed them and marked them "Resolved".

I guess if the vast majority o

[2021-10-22 18:00] #104 closed, assigned to tosfos

[2021-11-01 17:43] tosfos commented on #49
We added a help hint section (which is hidden until clicked) directly onto the form:
![image](https://user-images.githubusercontent.com/10228795/139715819-282a96bb-8f83-4019-86ce-02886e640294.png)

It also links to an [extended help page](https://bugsigdb.org/Help:Wildcard_Semantic_Search).

We also changed the page heading.

[2021-11-01 18:00] tosfos commented on #92
We did another test import. Please see an example Condition page [here](https://bugsigdb.org/HEK-293_cell).

You can see a form that has an Alias value entered for a Body site. See the "body site" field [here](https://bugsigdb.org/w/index.php?title=Study_24/Experiment_1&action=formedit), which is set to "salivary gland". And you can see that the resulting page shows the "main" term instead of the

[2021-11-04 18:54] tosfos commented on #92
The import is now complete. Please note that we weren't able to import these Aliases since there were special characters (brackets) in the titles:

[2021-11-04 18:58] tosfos commented on #92
We also modified the layout of Glossary pages as requested. You can see the results [here](https://bugsigdb.org/(%2B)-abscisic_acid).

[2021-11-05 15:34] lwaldron commented on #92
Looks great, @tosfos . One side-effect that I notice is that these glossary pages dominate the simple search, e.g. see below for "cancer", of which some do and some don't appear in any Experiment. This might be disappointing to users when the glossary pages don't link further back to Study or Experiment pages (even in cases that that condition does appear in some experiments), leading them to thin

[2021-11-05 19:26] lgeistlinger commented on #92
@tosfos That is great! Also amazing how one can now use general search for getting to the corresponding glossary page!

Now the main point of this issue here is whether this information gets also properly exported. That doesn't seem to be the case if I take a look at the exported experiments.csv file, which still contains a lot of blank fields for valid glossary terms such as eg [adenoma](https://

[2021-11-08 19:44] tosfos opened #105 "Glossary pages - add links to Studies"
One side-effect that I notice is that these glossary pages dominate the simple search, e.g. see below for "cancer", of which some do and some don't appear in any Experiment. This might be disappointing to users when the glossary pages don't link further back to Study or Experiment pages (even in cases that that condition does appear in some experiments), leading them to think search results aren't

[2021-11-08 19:45] tosfos commented on #92
There's no clear answer to how to work around this. I created the separate #105 .

[2021-11-08 19:46] tosfos commented on #92
We haven't switched to export to use the new data. Will do.

[2021-11-08 19:52] tosfos commented on #105
Instead of working around the issue, how about taking advantage of it? I think it would be cool to add functionality to the Glossary pages so that they would list all Studies that relate to this condition/body site and/or a link to a drilldown that will bring them to a filterable list of Studies on these conditions/body sites. That way, people who really are researching this particular condition o

[2021-11-08 19:57] tosfos commented on #92
We noticed some language markers on pages like [this](https://bugsigdb.org/w/index.php?title=Feces&oldid=38015). We actually can semantically store these terms together with the language code, but I'm not sure where we would take advantage of this data. Is there any intention for special multilingual wiki functionality?

[2021-11-08 20:01] lgeistlinger commented on #92
Interesting, I saw that too. I don't think we would have a particular use case for that nor do I expect curators to really make use of it, as I expect all curated articles to be in English.

[2021-11-08 21:38] lwaldron commented on #105
That sounds great! My only complaint was that the glossary pages were a
dead end, and that would turn them into ideal launching points instead…--

Levi Waldron

Associate Professor

Department of Epidemiology and Biostatistics

CUNY Graduate School of Public Health and Health Policy

Institute for Implementation Science in Population Health

55 W 125th St, New York NY 10035

https://waldronlab.io

[2021-11-08 21:38] #49 closed

[2021-11-08 21:38] lwaldron commented on #49
Yes.

[2021-11-09 20:17] tosfos commented on #92
Right now, we have separate columns for Uberon and EFO IDs. And we have icons for Uberon, EFO and ORPHANET. But I'm seeing URLS for MONDO, OBI, HP and others. How should we handle these? For example, see [here](https://bugsigdb.org/Hereditary_gastric_cancer). Is the icon correct? And which column would we use for the ID? Should there only be one ID column in the export?

[2021-11-10 13:59] lgeistlinger commented on #92
Thanks @tosfos. As explained [here](https://github.com/waldronlab/BugSigDB/issues/92#issuecomment-902839324), we'd like to have all IDs imported from the condition.csv to be exported in the `EFO ID` column; and all IDs imported from the bodysite.csv to exported in the bodysite.csv.

For body site, this will always be UBERON IDs. But for condition this will be all kind of EFO IDs (not all start wit

[2021-11-10 21:49] tosfos commented on #101
We have a first draft of this feature ready for review. You can see the new display of taxon review states [here](https://bugsigdb.org/Study_513):
![image](https://user-images.githubusercontent.com/10228795/141198706-533c68d6-f7f9-44ff-9984-80f4543408c0.png)

And [here](https://bugsigdb.org/w/index.php?title=Review:Study_513/Experiment_2/Signature_1/32207&action=formedit) is a sample review:
![ima

[2021-11-10 21:51] tosfos commented on #92
Right. Sorry that I keep getting confused about this.

[2021-11-10 21:54] tosfos commented on #92
It seems like certain terms exist in both the Body site and the Condition CSVs. Is that something that should be possible? See, for example, [blood](https://bugsigdb.org/w/index.php?title=Blood&diff=prev&oldid=46502).

[2021-11-11 16:24] lgeistlinger commented on #92
Yes, this is correct, there are certain UBERON terms contained in the EFO. We haven't seen examples of curators picking up certain body sites (such as blood) as conditions, but it is technically possible.

<img width="1222" alt="Screen Shot 2021-11-11 at 11 23 00 AM" src="https://user-images.githubusercontent.com/11871050/141332840-8951bbb1-e13a-4ca0-b718-8aa2ace8d7f4.png">
<img width="1296" alt="

[2021-11-11 18:58] tosfos commented on #92
Got it. There is an issue then on the MediaWiki side. We can't have 2 different pages that share the same title. And if we try to manufacture 2 different titles like "Blood (condition)" and "Blood (body site)" it makes it more complicated to match the correct Glossary page with the correct term (which is just entered as "Blood").

Would it make sense that the Condition and Body site definitions of

[2021-11-11 19:01] lgeistlinger commented on #92
I think if this simplifies things, we can just remove the UBERON terms from the condition.csv - as there use for condition is largely hypothetical and not something that we've observed in practice when curating > 500 articles.

[2021-11-11 19:03] lgeistlinger commented on #92
I think that would also be a perfectly fine solution.

[2021-11-12 15:22] tosfos commented on #105
This is now done. Please review a sample of each Glossary type:

1. https://bugsigdb.org/Oral_gland
2. https://bugsigdb.org/Squamous_cell_carcinoma

[2021-11-12 19:57] lwaldron commented on #101
Looks great and I've been trying it out already. A few small questions:
1. What do the black cross-through speech bubbles on https://bugsigdb.org/Study_559 mean?
![image](https://user-images.githubusercontent.com/639942/141526914-44913e2f-4eed-491b-aa26-82b465ab1df9.png)
2. What does "resolved into (please enter 1 or more characters)" in the review mean? E.g.:
![image](https://user-images.githubus

[2021-11-12 21:21] tosfos commented on #101
I'll get back to you on this.

I'm not sure if it's actually needed. The idea is that if a Review becomes not valid, because the taxon has been changed, this would track where the taxon went. It takes a Taxon ID. In other words, if a Study contained a taxon ID like "2", and then this was changed into something more specific like "33039", you would enter "33039" under "Resolved into". What will hap

[2021-11-14 16:24] tosfos commented on #92
Some more questions regarding the aliases.

If someone enters an alias, the wiki tries to find the Main Term (Glossary page title) in the Glossary. That is, a Glossary term that has this alias listed. Once a match is found, it displays the Main Term instead of the Alias that was entered. It also finds ALL of the aliases for this main term and inserts them in the page (but hides them) so that a sea

[2021-11-15 00:04] lgeistlinger commented on #92
I believe we should follow here the behavior on EFO site itself, and push curators upon entering an alias into the condition form towards selecting a main term. That means if a curator enters a synonym, autocomplete options presented would be corresponding main terms for that alias only. (That means I would here indeed depart from allowing curators to be able to enter an alias).

Using the "gastri

[2021-11-17 18:52] tosfos commented on #92
Interesting idea. Let me see what we can do.

But we already have the pages we imported which already contain aliases. How should we deal with these existing pages?

[2021-11-17 21:27] tosfos commented on #55
Can this be closed? I think the Glossary has solved these issues.

[2021-11-17 22:08] lgeistlinger commented on #55
Yes we continue the discussion under #92

[2021-11-17 22:08] #55 closed

[2021-11-17 22:12] lgeistlinger commented on #105
This is fantastic! Just checked it out and it looks great. Thanks!

[2021-11-17 22:12] #105 closed

[2021-11-17 22:18] lwaldron commented on #105
I love it!

[2021-11-23 15:05] lwaldron opened #106 "duplicate studies"
I just noticed that:
* https://bugsigdb.org/Study_149
* https://bugsigdb.org/Study_345

are duplicates of the same PMID. One looks like a copy of the other, with some small differences in the signatures and taxon reviews, with one being all Wikiworks curator and editor.

Not sure how this happened, but is there a way to search for duplicate studies, ie those with the same PMID?

[2021-11-23 20:20] tosfos commented on #106
Yes, that should be possible.

[2021-11-25 01:54] tosfos commented on #106
This is now ready for review. You can see a list of duplicates (and triplicates) [here](https://bugsigdb.org/Project:Duplicate_studies). We also linked to it from the [main Cleanup page](https://bugsigdb.org/Help:Cleanup#Duplicate_Studies).

![image](https://user-images.githubusercontent.com/10228795/143362167-1e6f309c-a022-478b-934d-0c41ce9931e6.png)

[2021-11-25 15:19] lgeistlinger commented on #92
Sorry for the delay in replying. I am not sure I fully understand the practical implications here. Why would the imported pages pose a problem?

[2021-11-25 18:10] lgeistlinger opened #107 "Condition updates prompt creating + defining already existing glossary terms"
I edited the experiments of [Study 538](https://bugsigdb.org/Study_538) and changed the condition from the invalid "urinary track infection" to the valid condition glossary term [urinary tract infection](https://bugsigdb.org/Urinary_tract_infection).

However, when visiting the [updated page](https://bugsigdb.org/Study_538) the condition field of eg Experiment 1 does not recognize the existing con

[2021-11-25 20:56] lgeistlinger commented on #92
I also just took another look into the exported experiments.csv and was happy to see that the gaps in the EFO ID / UBERON ID columns are getting smaller. However, we seem to still have some issues for valid conditions and body sites that were part of the import.

**Conditions with empy EFO ID column, although they represent valid glossary terms**

[Genital neoplasm, female](https://bugsigdb.org/Ge

[2021-11-29 16:42] tosfos commented on #92
Yes, it looks like the comma is the culprit. Will fix.

It looks to me like the likely culprit is that the wiki is finding a Glossary term that is listed as a Condition even though this is the Body site field. We'll limit the search and see if that fixes all of these.

Previously all the values were being loaded at the time the form was first loaded, which meant that autocomplete was very quick. O

[2021-11-29 16:51] tosfos commented on #92
The wiki treats all data the same, regardless of if it comes from the CSV import, or if it is manually inserted by a user. So for the imported pages, the wiki will perform the same alias lookup. In other words, if a Main term wasn't entered in the CSV, the wiki will search on-the-fly to find a matching Main term that has the entered term as one of its aliases. So what happens if multiple matching

[2021-11-29 17:09] tosfos commented on #107
This is related to the issue I highlighted at https://github.com/waldronlab/BugSigDB/issues/92#issuecomment-968322051

It's caused by the wiki finding more than 1 matching Condition. Once we decide out how to deal with that situation, this should be resolved, but we should leave this open to make sure it gets solved.

[2021-11-30 14:25] lgeistlinger commented on #92
Yes that makes sense. Let me start with saying that I don't think showing multiple matching terms is a bad solution. In the end, these are coming in via existing aliases and there are certainly situations, where showing multiple main terms better describes the condition than just one main term. For example, we found "(one sort of) cancer" / "(one sort of) carcinoma" being used rather exchangably i

[2021-11-30 20:30] tosfos commented on #92
This should [now be fixed](https://bugsigdb.org/Study_305).

[2021-12-01 21:09] tosfos commented on #92
Right now I don't think there is any internal difference between entered main terms and aliases. If an alias is entered, we just store the main term anyway.

How should we proceed then? (It sounded like your instructions were only intended if we did distinguish.)

[2021-12-01 21:22] lgeistlinger commented on #92
I think if the [aforementioned issues](https://github.com/waldronlab/BugSigDB/issues/92#issuecomment-979465386) can be fixed, we are actually in a good spot with the solution that you put in place.

[2021-12-08 21:55] tosfos commented on #92
Everything look better now. Any filled body site field now has a matching UBERON ID. The only conditions with missing EFO ID columns are:

1. hepatitis, alcoholic
2. antibiotic exposure
3. antibiotic treatment
4. tumor grade
5. viral lung infection
6. gonorrhea
7. healthy
8. perinatal antibiotics

[2021-12-09 01:48] lgeistlinger commented on #107
Looks like this has been fixed and can be closed.

Remaining question:

Should I open a separate issue for that?

[2021-12-16 16:16] tosfos commented on #92
Thanks! Probably just needs a data rebuild after some new changes we made. We'll check.

[2021-12-16 16:23] lgeistlinger commented on #92
Great, thanks!

[2021-12-19 19:47] lgeistlinger commented on #92
Just did a fresh export of the experiments.csv - and everything looked good, no more missing items! I believe we can close this.

[2021-12-20 02:00] #92 closed

[2021-12-20 21:45] tosfos commented on #92
Great!

[2022-01-07 01:11] cmirzayi opened #108 "BugSigDB 502 Bad Gateway on all pages"
BugSigDB has been down since at least 7 PM EST. Attempting to load any page results in a 502 Bad Gateway error message.

[2022-01-07 18:21] tosfos commented on #108
This is now fixed. We'll check why this happened.

[2022-01-07 18:28] cmirzayi commented on #108
It appears to be back up. Closing the issue.

[2022-01-07 18:28] #108 closed

[2022-01-07 18:55] tosfos commented on #107
Sorry about the long delay. I agree that we should be able to combine these into one icon. I'll get back to you soon.

[2022-01-07 20:33] lgeistlinger commented on #107
Thanks!

[2022-01-14 21:10] lwaldron opened #109 "How to find a study by PMID"
The simple search does not seem to find studies by PMID, for example [searching for 33440171](https://bugsigdb.org/w/index.php?title=+Special%3ASearch&search=33440171&go=Go) returns no results, even though this is the PMID for https://bugsigdb.org/Study_559. Searching for keywords from this abstract such as [synthetic enteral nutrition](https://bugsigdb.org/w/index.php?search=synthetic+enteral+nut

[2022-01-14 21:20] lwaldron opened #110 "Advanced search could be more user-friendly"
1. the red "New Query" button on the main page would be more intuitive as "Advanced Search" or something like this.
2. when I click on New Query, the mostly blank page doesn't make it very obvious how to get started, and the "Set up form" button on the right-hand side could easily be missed:
![image](https://user-images.githubusercontent.com/639942/149586478-c1b56d38-aea5-4263-a88d-7d4c4ccd4410.pn

[2022-01-17 07:42] lwaldron opened #111 "capitalization of ontology terms in drilldown menu"
I noticed that [drilldown](https://bugsigdb.org/Special:RunQuery/Drilldown?Drilldown%5BLocation%20of%20subjects%5D=&Drilldown%5BHost%20species%5D=&Drilldown%5BBody%20site%5D=&Drilldown%5BCondition%5D=&Drilldown%5BTaxon%5D=&_run=1) for condition shows:
* [HIV INFECTION](https://bugsigdb.org/Special:RunQuery/Drilldown?Drilldown%5BLocation%20of%20subjects%5D=&Drilldown%5BHost%20species%5D=&Drilldown%

[2022-01-17 21:07] tosfos commented on #107
Should be better now:
![image](https://user-images.githubusercontent.com/10228795/149836912-b6e05270-2d34-4a5a-80c1-b1ea34ab08b4.png)

[2022-01-17 21:09] tosfos commented on #109
This looks like a general issue with the search index falling out of date. Will check.

[2022-01-17 21:09] lgeistlinger commented on #107
Looks good, thanks!

[2022-01-17 21:09] #107 closed

[2022-01-19 15:34] lwaldron opened #112 "studies with same PMID"
We're a bit confused about when studies with the same PMID are and aren't allowed. Looking at https://bugsigdb.org/Project:Duplicate_studies, we see some studies have different study designs (such as https://bugsigdb.org/Study_10 and https://bugsigdb.org/Study_11), but others that have the same study design (maybe because they also had a DOI and/or URI entered for the original study?)

For example

[2022-01-19 22:33] tosfos commented on #110
We took the following steps:

1. The text for the button on the main page has been changed to **Advanced Search**.
2. The form has been made visible on the query result page by default. No need to click **Set up form**.
3. A close control has been added to the form.
4. The Set up form button has been renamed to **Toggle form**.

Please let me know what you think about these changes.

[2022-01-20 19:47] tosfos commented on #109
The search index issues have been resolved. We're still working on the underlying cause (server resources), but this can be closed.

[2022-01-22 23:33] lgeistlinger commented on #73
can this be closed or is this still in the works @tosfos @lwaldron?

[2022-01-22 23:34] lgeistlinger commented on #106
can this be closed @lwaldron?

[2022-01-22 23:35] lgeistlinger commented on #99
This looks like it can be closed. Feel free to reopen.

[2022-01-22 23:35] #99 closed

[2022-01-22 23:36] lgeistlinger commented on #102
Can this be closed @lwaldron?

[2022-01-22 23:40] lgeistlinger commented on #109
Can confirm that those searches now return Study 559.

[2022-01-22 23:40] #109 closed

[2022-01-23 18:51] lgeistlinger opened #113 "EFO updates"
The UBERON ontology underlying body site annotation in BugSigDB seems to be stable, the last release is the [2019-11-22 release](https://uberon.github.io/).

This is not true for the Experimental Factor Ontology (EFO) underlying conditions annotated in BugSigDB, as the EFO publishes a [new release every month](https://github.com/EBISPOT/efo/releases).
Problematic for BugSigDB are updates to the on

[2022-01-24 10:21] lwaldron commented on #113
Interesting - I couldn't find some universal list of aliases and obsolete terms like HGNC maintains, but this information seems embedded in the ontology itself.  Looping in @tosfos.

[2022-01-24 10:34] lwaldron commented on #106
I think so, although eventually we may want a system for clearing correct "duplicates" that are two different study designs from the same PMID, and have been reviewed as correct. When entering new studies, it's not clear to me yet when entering another study with the same PMID is allowed and when it isn't, see https://github.com/waldronlab/BugSigDB/issues/112.

[2022-01-24 10:42] lwaldron commented on #102
Yes, sorry about that! It looks great.

[2022-01-24 10:42] #102 closed

[2022-01-24 10:57] lwaldron commented on #73
My only remaining questions would be 1) if load time can be improved (currently ~5s for anonymous users according to https://stats.uptimerobot.com/v85AvUWYnA/788859757, coincides with my experience), and 2) symmetry or anything other design improvement the web pros might recommend, although for me it already looks great.

[2022-01-26 17:54] tosfos commented on #73
I agree that it should be improved. There is an issue we discussed with some of the features on the Main Page that are Preventing us from proper caching. We can either remove these features or fix them. I'd recommend opening a separate issue and then I can add information on our previous discussions on it.

Will do! I'll update this task once it's done.

[2022-01-26 17:57] tosfos commented on #113
I agree that this is probably the best way to go. We can create a script to automatically check the links and grab the replacement term.

[2022-01-27 01:43] lgeistlinger commented on #113
That would be great if this figures to be feasible. This would also be simpler than re-importing from the obo/owl files accompanying each release I believe.

[2022-01-28 19:25] tosfos commented on #111
I think we should start thinking about standardizing on a particular capitalization system and then actually modifying all the pages to match one particular capitalization. Once we do that, it would actually be better to keep the various capitalizations in the drilldown so that it will be easier to detect pages with non-standard capitalization.

We can easily modify all the pages to use the standa

[2022-01-28 21:32] lwaldron commented on #111
Sounds good to me.

[2022-02-01 22:47] tosfos commented on #113
The script is now complete and active. It works really well! You can see an example [here](https://bugsigdb.org/w/index.php?title=Schizophrenia&type=revision&diff=78651&oldid=47044).

And we were actually able to cover instances that were not in the original spec. For example, [this](https://bugsigdb.org/Puumala_virus) page referenced [this](http://purl.obolibrary.org/obo/NCBITaxon_11604) link, wh

[2022-02-02 14:34] lgeistlinger commented on #113
I love it! Will these updates also manifest in the exported experiments.csv in the EFO ID column? That would be great.

Yes. This looks like an erroneous link in the EFO OBO file from which I extracted the import table for the glossary; so it's a good thing that these seem to get fixed as a side effect.

I don't think they hurt much (as I don't assume curators to actually pick an obsolete term as

[2022-02-02 18:35] tosfos commented on #113
Yes it will! We do need to do a data rebuild (or similar) first. We'll check.

Will do.

[2022-02-02 18:47] tosfos commented on #113
We verified that no pages currently list an obsolete term (a Glossary page with "obsolete" starting the page name). We'll delete them.

[2022-02-02 18:50] lgeistlinger commented on #113
Perfect

[2022-02-03 15:35] tosfos commented on #73
We added some design improvements to the Main Page. Please review and let me know what you think. We can certainly add more styling if you'd like.
![Screen Shot 2022-02-03 at 10 33 53](https://user-images.githubusercontent.com/10228795/152374796-46a49300-295b-430c-8b03-4f0ae0a18e79.png)

[2022-02-03 16:37] lwaldron opened #114 "Home page load time"
The home page still has fairly slow load time even for anonymous users, e.g. https://stats.uptimerobot.com/v85AvUWYnA/788859757 currently shows an average response time of ~6.5 seconds. If it is the statistics slowing it down, they could be moved to a separate page.

[2022-02-03 16:39] lwaldron commented on #73
Love it! I created a new issue #114 for load time, and it seems like this issue can be closed for now.

[2022-02-03 16:39] #73 closed

[2022-02-03 20:40] tosfos commented on #113
Done. All 988 obsolete terms have been deleted. The property update is in progress.

We also added some code so that the CSV export field will get updated automatically in the future.

I believe this can be close.

[2022-02-03 20:49] lgeistlinger commented on #113
Looking great! Many thanks!!

[2022-02-03 20:49] #113 closed

[2022-02-07 15:17] ftzohra22 commented on #114
It took me some time to login this morning. I waited around a min after the first click then had to click it again for the dropdown login in menu to appear.

[2022-02-14 20:21] tosfos commented on #114
I think we need to separate this into 2 separate tasks. One is for general wiki performance, which has been spotty. One is for the Main Page specifically, since it has its own unique challenges.

For the general wiki performance, we'll probably need to move to a more powerful server. I'll be in touch about that relatively soon.

We had created a mirror of the production wiki which we were using fo

[2022-02-15 09:31] lwaldron opened #115 "general wiki performance"
General wiki performance has been spotty. Here is an uptime robot measuring load time for a randomly selected but rather large Study page (https://bugsigdb.org/Study_428), monitoring load time. First load time was 21s: https://stats.uptimerobot.com/v85AvUWYnA/790659101

[2022-02-15 09:32] lwaldron commented on #114
separating out general load time to #115

[2022-02-15 09:54] lwaldron opened #116 "Human (not bot) recent changes include WikiWorks753 edits"
I assume these should be filtered by the `Human (not bot)` filter? Or is there another filter we can add so that WikiWorks753 edits don't dominate?

https://bugsigdb.org/Special:RecentChanges?hidebots=1&limit=100&days=30&enhanced=1&urlversion=2

[2022-02-15 10:33] lwaldron opened #117 "table of top contributors"
It would be nice to have a table of the most active contributors over various time periods, such as https://www.mixesdb.com/db/index.php?title=Special:ContributionScores. Would be great if there is an extension that can work without too much customization.

[2022-02-21 10:14] lwaldron opened #119 ""Download CSV" from Advanced Search returns no rows of data"
For example here is a [search for total skin](https://bugsigdb.org/Special:RunQuery/Drill?Drill=Condition%2Blogic%3DAND%26Location%2Blogic%3DAND%26Site%2Blogic%3DAND&_run=1&title=Special%3ARunQuery%2FDrill&pfRunQueryFormName=Drill&Drill%5BTaxon%5D%5Bis_list%5D=1&Drill%5BLocation+of+subjects%5D%5Bis_list%5D=1&Drill%5BLocation+logic%5D=AND&Drill%5BHost+species%5D%5Bis_list%5D=1&Drill%5BBody+site%5D%

[2022-02-21 10:33] lwaldron commented on #110
The Advanced Search is good, I think this can be closed now.

[2022-02-21 10:33] #110 closed

[2022-02-21 14:56] seandavi commented on #119
Related, but what is the relationship between the links on the website to the data living in the github repo?

[2022-02-21 15:39] lwaldron commented on #119
Files living at https://github.com/waldronlab/bugsigdbexports are created by bugsigdbr, based on its imports from https://bugsigdb.org/Help:Export. I haven't directly compared, but I assume these focused CSV exports are just subsets of the full exports provided at https://bugsigdb.org/Help:Export.

[2022-02-22 16:36] tosfos commented on #119
This issue should be resolved now.

[2022-02-22 18:03] lwaldron commented on #119
Confirmed, thanks @tosfos. Should there be an associated commit, or is the fix made somewhere else?

[2022-02-22 19:31] tosfos commented on #119
The fix was within the wiki template itself. [Here](https://bugsigdb.org/w/index.php?title=Template:Drill&diff=prev&oldid=79481)'s the diff if you'd like to see it.

[2022-02-22 20:04] lwaldron commented on #119
Got it!

[2022-02-22 20:04] #119 closed

[2022-03-02 14:53] lwaldron opened #120 "Alpha diversity should not be hidden from experiments"
Since Alpha diversity is a result and not a method, ideally it would be shown for every Experiment even if it is repeated from above. For example, see Experiment 3 at https://bugsigdb.org/Study_568. It is hidden here that Shannon and Simpson are increased, and Chao1 is unchanged.

[2022-03-02 16:42] lwaldron opened #121 "an odd case of uneditable Body Site and Condition"
See https://bugsigdb.org/Study_86/Experiment_8 - they seem to be blank, then when you click edit, some obscure/incorrect values for Body Site and Condition are shown, then they quickly disappear. Body Site and Condition are then uneditable.

[2022-03-02 16:46] lwaldron commented on #121
Never mind, I think it was just very slow autocomplete, covered under #115

[2022-03-02 16:46] #121 closed

[2022-03-04 14:35] tosfos commented on #120
This should be complete. Please review.

[2022-03-04 19:17] lgeistlinger opened #122 "Some glossary terms do not have a "Studies related to""
I find the "Studies related to" feature on glossary terms such as [HIV infection](https://bugsigdb.org/HIV_infection) very useful as it allows to quickly identify the studies investigating a certain condition.

I was wondering why some glossary terms such as [colorectal cancer](https://bugsigdb.org/Colorectal_cancer) and [autism](https://bugsigdb.org/Autism) do not have this feature although we ha

[2022-03-04 19:43] tosfos commented on #117
We installed that extension [here](https://bugsigdb.org/Special:ContributionScores). We still need to do some work to figure out why it's including some of the WikiWorks users:
![image](https://user-images.githubusercontent.com/10228795/156830880-64c01776-d3a2-4922-bee9-3c1778760fba.png)

Please let me know if this looks good. We can also include this list on the Main Page if you'd like. We can se

[2022-03-04 19:48] tosfos commented on #122
We're in the middle of reworking this system as part of #111 . It is strange that those Studies aren't being shown. We'll check if this is resolved once the other issue is complete.

[2022-03-04 21:48] lwaldron commented on #120
Looks good!

[2022-03-04 21:48] #120 closed

[2022-03-06 23:16] lgeistlinger opened #123 "Wrong authors in study export"
I noticed a hiccup in exported authors in the [exported study sheet](https://bugsigdb.org/Help:Export).

Authors of [Study_470](https://bugsigdb.org/Study_470) are Wirbel J et al., and authors of [Study_471](https://bugsigdb.org/Study_471) are Thomas AM et al. - but both studies are for some reason exported with authors being Thomas AM et al.

It's a bit odd, because PMID, DOI, Title etc are other

[2022-03-07 11:37] lwaldron commented on #117
It looks great! I'm guessing the Wikiworks bot showing up is related to #116, and could be addressed there. How about putting the top 5 contributors in the last 30 days on the front page, with a link to the full table of contributors? This will help highlight that this is a community-editable wiki, and give credit to active contributors.

[2022-03-07 13:28] lwaldron opened #124 "16S variable region is displaying incorrectly"
For example:
* https://bugsigdb.org/Study_209: shows `3-4V3-V4`
* https://bugsigdb.org/Study_445: shows `5-6V5-V6`

Instead, these should just show `V3-V4` and `V5-V6`. Also without the "V" would be acceptable, as long as it is just one or the other.

[2022-03-09 12:06] lwaldron commented on #115
I'm subjectively noticing an improvement in page load times, and the Study 428 uptime robot is down to ~12s average load time.

[2022-03-09 16:53] tosfos commented on #123
The authors were all correct, just in a different order than the order they were retrieved. We retrieve the authors based on PMID and then we store them as separate semantic values. The issue was that the export query was then re-ordering them. We solved the issue by adding a separate Property that stores all of the authors as one long string based on the order it was imported. Please check if it

[2022-03-09 17:21] tosfos commented on #117
I don't think this is related to #116. It's likely a bug in the extension. I don't think it will affect the Main Page display though. Please let me know if we should research this further.

[2022-03-09 17:39] lgeistlinger commented on #123
Looking great, many thanks!

[2022-03-09 17:39] #123 closed

[2022-03-09 18:54] lwaldron commented on #117
I don’t think it’s significant enough to need further research.--

Levi Waldron

Associate Professor

Department of Epidemiology and Biostatistics

CUNY Graduate School of Public Health and Health Policy

Institute for Implementation Science in Population Health

55 W 125th St, New York NY 10035

https://waldronlab.io

Join the microbiome Virtual International Forum: https://microbiome-vif.org

[2022-03-09 21:50] tosfos commented on #112
We tested and we don't think you can add a non-unique value for PMID when using the form, either for page creation or editing. In general, here is how duplicate values can happen:

1. The initial CSV upload contained duplicates.
2. The PMID was added via regular "source" editing instead of using the form.
3. The duplicate page was created very soon (less than a few minutes) after the original page

[2022-03-10 13:12] lwaldron commented on #117
Saw it on the front page, looks great!

[2022-03-10 13:12] #117 closed

[2022-03-14 21:04] cmirzayi opened #125 "Several studies have incorrect journal name "REFERENCES" or "References""
I thought this might be an issue with the import from the spreadsheet but it's also happening to a few newer studies.

For examples see:
https://bugsigdb.org/Study_523 (should be AJRI)
https://bugsigdb.org/Study_400 (should be PAI)
https://bugsigdb.org/Study_343 (should be Cancer)

[2022-03-14 23:13] ftzohra22 opened #126 "Experiment number doesn't get updated once an experiment is deleted"
While creating a 2nd experiment today on https://bugsigdb.org/Study_516# it was taking a while to save the new entry so i clicked on save twice. It turns out two experiments were created due to my double clicks and I deleted the duplicate one. I deleted experiment 2 instead of 3. So now the page has Experiment 1 and then Experiment 3. I assumed once an experiment is deleted the next one would auto

[2022-03-16 18:56] tosfos commented on #126
We fixed this via page move. I don't assume this is worth worrying about since it shouldn't happen too often.

[2022-03-16 18:58] tosfos commented on #125
This looks like an issue on the PubMed side. We'll check.

[2022-03-16 19:07] #124 closed

[2022-03-17 06:56] lwaldron commented on #126
Thanks @tosfos. Agreed, under most other circumstances URLs should remain fixed even if an experiment is deleted and creates a gap.

[2022-03-17 06:56] #126 closed

[2022-03-22 16:39] tosfos commented on #125
This was due to a bug in the PubMed extension we're using. We patched the bug and we'll be updating the server to use the new version shortly.

[2022-03-23 15:18] lwaldron opened #127 "slow loading and editing for Study 618"
I'm seeing very slow load times (at least minutes, and seeing 504 Gateway Time-outs) for https://bugsigdb.org/Study_618, even though other pages are OK. I started noticing this slow load time after adding a taxon review to a Study 618 signature, not sure if that is related.

[2022-03-23 15:19] lwaldron commented on #127
FYI @ftzohra22

[2022-03-24 15:29] lwaldron commented on #127
I confirmed that https://bugsigdb.org/Study_618 remains unavailable today. I also tried editing another signature (https://bugsigdb.org/Study_386/Experiment_1/Signature_2) by correcting the three non-NCBI elements, but when I clicked "Save" I just eventually got the 504 Gateway Time-out, and now https://bugsigdb.org/Study_386 is also unavailable.

[2022-03-24 19:37] tosfos commented on #127
We'll check

[2022-03-28 11:24] lwaldron opened #128 "Check export of https://bugsigdb.org/Study_618"
I noticed that "duplicate experiment" did not copy body site or condition, and I wasn't required to enter these. See whether they are maintained from Experiment 1 in the export, once it has had time to propagate (all experiments should be _Homo sapiens_ and Dementia).

[2022-03-28 11:47] lwaldron opened #129 "EFO and MONDO terms displayed instead of condition names."
I was just checking out the "filter" option for [today's featured taxon _Veillonella dispar_](https://bugsigdb.org/Special:RunQuery/Taxon_drilldown?Drilldown%5BTaxon%5D=Veillonella%20dispar&_run=1), and under "Condition" I noticed EFO:0000685 and MONDO:0005178. Should these be shown as rheumatoid arthritis and osteoarthritis instead? It looks like they were entered as the EFO and MONDO terms on ht

[2022-03-28 15:12] tosfos commented on #127
This was some sort of docker issue that was resolved by a restart. You may see slower performance while the caches warm up. This issue is resolved.

[2022-03-28 15:29] tosfos commented on #129
Right now we don't support entering the IDs in those fields. Also they are not listed as "synonyms" on the glossary pages, so our work on #111 wouldn't address this either. Really, users should be entering the names of these conditions instead of IDs. Is that correct? Or should we add some sort of system that would allow entering IDs?

[2022-03-28 18:53] lwaldron commented on #129
Or maybe a syntax check? Perhaps body site and condition are two fields that we should require valid entry for.

[2022-03-28 18:53] #127 closed

[2022-03-28 18:54] lwaldron commented on #127
Confirmed back to normal.

[2022-03-28 21:31] tosfos commented on #129
We can do that. That would mean that users can ONLY enter terms that are already page titles in the Glossary. That would mean that they can't enter any new Conditions or Body sites unless they first create a Glossary page.. Please confirm we should go ahead with this.

[2022-03-29 06:14] lwaldron commented on #129
Do we already have glossary pages for the full Uberon and EFO ontologies, or only for terms referred to in bugsigdb experiments?

[2022-03-29 06:17] lwaldron commented on #125
These examples all display correctly now. Thanks for reporting @cmirzayi!

[2022-03-29 06:17] #125 closed

[2022-03-29 08:17] lwaldron opened #130 "Add keywords to abstract section"
I noticed that when the PubMed abstract is in a structured format (ie in several sections), only the first section is shown in bugsigdb.org. This effects quite a few studies, so probably worth fixing. Here is what I found from looking through the first 20 search results for ["BACKGROUND"](https://bugsigdb.org/w/index.php?title=_Special:Search&search=%22BACKGROUND%3A%22&go=Go&searchToken=4i0pq7bhr9

[2022-03-30 16:44] lwaldron opened #131 "improve efficiency for reviewing studies/experiments/signatures"
Are there any ways that the process of reviewing everything in a study could be made more efficient? I just reviewed a big study with 10 experiments (https://bugsigdb.org/Study_403#), and each time I click "Mark reviewed" it takes me back to the top of the page so I have to scroll down again. Leaving the reviewer's focus unchanged when clicking this button would make this process easier.

[2022-03-31 22:50] tosfos commented on #129
We only have the 40,000 terms that were in the CSV

[2022-03-31 22:56] tosfos commented on #131
We can prevent the page from reloading after a review. It would show green text indicating that an edit was made to mark it as reviewed. Please confirm.

[2022-04-01 00:38] lwaldron commented on #131
That sounds great.

[2022-04-01 00:43] lwaldron commented on #129
Right - in that case it seems like we should be able to lock down body site and condition allowed values, because I would expect data entry errors to far outnumber need for anything not in those ontologies...

[2022-04-04 10:50] lwaldron commented on #91
It looks like the Matomo link no longer works (500 error) - https://bugsigdb.org/matomo/

[2022-04-04 14:57] tosfos commented on #116
Fixed.

[2022-04-06 08:42] ftzohra22 opened #132 "Page 'reviewed' sometimes not updating"
This happened with a couple papers I was reviewing today. When I click on the mark reviewed button it turned to 'flag for review' without the information displaying the page has been 'reviewed', Refreshing the page doesn't solve the issue either. It's only working if I flag it for review again then mark it as reviewed.
![image](https://user-images.githubusercontent.com/45443641/161931310-78157d53-

[2022-04-06 08:49] lwaldron commented on #132
@ftzohra22 can you provide a link to the Study?

[2022-04-06 08:55] ftzohra22 commented on #132
Sorry I fixed that one but here's another example: Experiment 2, Signature 2  ( https://bugsigdb.org/Study_428# )

[2022-04-06 13:47] lwaldron commented on #132
I think this related to #131 - when you click "mark as reviewed", the change occurs internally but your window doesn't refresh, like we see in the screenshot below including both @ftzohra22 's and my screens, where my newly navigated window shows a review but @ftzohra22, who marked this signature reviewed, does not. I think that's fine for the page to be unrefreshed as long as we know to expect it

[2022-04-11 16:23] tosfos commented on #130
This is now done. Performance may suffer a bit while the caches warm up.

[2022-04-11 16:28] tosfos commented on #130
That is likely just what PubMed is sending us.

That is likely due to PubMed including some extra whitespace. We'll see if we can trim it.

Yes, the PubMed data is probably missing line-breaks.

We should be able to do that.

[2022-04-19 20:45] tosfos commented on #111
This is (finally) all done! You can verify by checking that there are no duplicate values for condition, [here](https://bugsigdb.org/Special:RunQuery/Drilldown?Drilldown%5BLocation%20of%20subjects%5D=&Drilldown%5BHost%20species%5D=&Drilldown%5BBody%20site%5D=&Drilldown%5BCondition%5D=&Drilldown%5BTaxon%5D=&_run=1).

[2022-04-19 20:47] tosfos commented on #122
Looking good now!

[2022-04-19 20:49] lgeistlinger commented on #111
This is extremely helpful not only on the site but also for downstream analysis.
It seems, however, that we still have some duplicates as we eg have under body site: "meconium" and "Meconium", "throat" and "Throat", and "vagina" and "Vagina".

[2022-04-19 20:50] tosfos commented on #111
I don't think we touched the body site fields. But I guess we should! Please verify that everything is OK with Condition and then we'll start our script for the body site field as well.

[2022-04-19 20:51] lgeistlinger commented on #122
Great, thanks!

[2022-04-19 20:51] #122 closed

[2022-04-19 20:55] lgeistlinger commented on #111
Right, you said "for condition" - I missed that.
For condition, I see
"antimicrobial agent" and "Antimicrobial agent"
"irritable bowel syndrome" and "irritable bowl syndrome" (something to fix on our end?)

[2022-04-20 16:49] tosfos commented on #130
We're ready to start displaying the keywords. How should they be displayed? I think they should go as a list after the Year in the Study infobox. Please let me know what you think.

[2022-04-20 16:56] tosfos commented on #130
Also, should the Keywords list be included in the CSV export?

[2022-04-20 19:04] lwaldron commented on #130
I'm not sure about either of those things. As for exporting Keywords list, I guess I would say "why not?" If it's there, someone will probably figure out how to use it...

[2022-04-20 19:20] lwaldron opened #133 "make Study information editable"
Currently the only way to create study information like title, authors, abstract, etc is to import a study from PubMed. But we can have signatures that don't originate from PubMed, for example https://bugsigdb.org/Study_562. Can you make it possible to edit Study information manually?

I'm not sure whether it should be editable for all studies, or only non-PubMed studies - off the top of my head I

[2022-04-20 19:27] lwaldron opened #134 "Add a study/experiment/signature via API"
Qiita (https://qiita.ucsd.edu/) is a popular open-source microbial study management platform that researchers use to analyze their metagenomic data. They are developing a differential abundance workflow and have expressed interest in having it post the output of a completed workflow programmatically to bugsigdb.org (this would be pre-publication).  Such a workflow could help a lot with having rese

[2022-04-20 19:31] lwaldron commented on #132
@ftzohra22 do you know if this was just a matter of the page only showing the review after refreshing? If that's all it is I think we'll close the issue without change, since we are now avoiding refreshing the page after review to speed up reviewing.

[2022-04-20 19:53] ftzohra22 commented on #132
Yes I think that was it. It was taking too long for the 'review' status to get updated unless refreshed and looks like its working fine now. We can close the issue.

[2022-04-20 21:20] #132 closed

[2022-04-21 16:11] tosfos commented on #111
It looks like there were edits that happened after our script completed its work. And the form allowed a non-standard capitalization, which we need to fix.

Related, we should decide if we want to standardize on a first-letter capitalization format. Right now, some first letters are capitalized and some aren't, but there doesn't seem to be a reason for that. In standard MediaWiki it assumes the fi

[2022-04-21 19:32] lgeistlinger commented on #111
I would certainly appreciate some standardization, where a first-letter capitalization format would be consistent with how we format "Location of subjects" and "Host species". A first-letter capitalization would also be applicable to "Body site" (which are currently mainly all lowercase). Indeed there are conditions like "pH measurements" that would make for exceptions, but at least they are curre

[2022-04-27 14:16] ftzohra22 commented on #131
@tosfos this is still happening where we click "Mark reviewed" and it takes us back to the top of the page.

[2022-04-28 19:58] tosfos commented on #131
We checked into how to fix the issue but it's more of a fundamental issue with how the feature works. We're still researching it.

[2022-04-29 20:53] lwaldron commented on #131
One thought for a workaround to make reviewing more efficient, how about a button "Mark all as reviewed" that marks the study and each experiment and signature within as reviewed?

[2022-05-04 21:54] tosfos commented on #130
Fixed

[2022-05-05 20:23] tosfos commented on #91
Sorry about that! It's back up now. We were able to recover logs from the last few weeks.

[2022-05-06 21:14] lwaldron opened #135 "Update which autocomplete values are editable"
The page https://bugsigdb.org/Help:Admin has links to modify forms' autocomplete values, but some of these (such as "Matched on" and "Confounders controlled for") now use built-in ontologies instead of being editable. Could you check these @rimsha1 and remove links that do not lead to a page where you can edit the values?

- [ ] [16S variable region](https://bugsigdb.org/w/index.php?title=Property

[2022-05-06 21:18] lwaldron commented on #130
Looks good!

[2022-05-06 21:26] lwaldron commented on #135
@tosfos I have a question for you too here. There was a page processing error for the HDL item under "Confounders controlled for" at https://bugsigdb.org/Study_20/Experiment_1. Looking [here](https://bugsigdb.org/w/index.php?title=Property:Confounders_controlled_for/Values&action=edit) I see `{{:Property:Condition/Values}}`, which I think means these terms should be chosen from the "Condition" val

[2022-05-06 21:30] lwaldron commented on #135
Never mind @tosfos , I remembered that the [Condition](https://bugsigdb.org/w/index.php?title=Property:Condition/Values&action=edit) values are also manually maintained. It is OK that way. @rimsha1 that means that, for example, Confounders controlled for should just link to the same link that Condition links to (https://bugsigdb.org/w/index.php?title=Property:Condition/Values&action=edit).

[2022-05-06 21:32] lwaldron commented on #135
@ftzohra22 I just wanted to alert you also to this procedure, since you are also reviewing. You can correct invalid terms or if needed edit the allowed values, trying to use the relevant ontology (Uberon or EFO).

[2022-05-10 18:15] tosfos commented on #131
That would be difficult. We have a solution in action on the test site that we'll apply to production soon. It avoids the page reloading and also tries to not scroll the page after the button gets clicked.

[2022-05-10 18:53] tosfos commented on #131
I thought about other possible solutions to allow "mass review" of pages. I feel like it might encourage low-quality reviews if users could just click a single button and mark many items as "reviewed". What do you think?

[2022-05-10 18:53] tosfos commented on #116
Can this be closed?

[2022-05-10 20:13] lwaldron commented on #131
Agreed that "mass review" could encourage low-quality reviews, and avoiding page reloading and scrolling is a better solution, letting the reviewer mark items reviewed as they are done.

[2022-05-10 20:14] lwaldron commented on #116
Yes

[2022-05-10 20:14] #116 closed

[2022-05-13 18:59] tosfos commented on #129
My mistake. The form already only allows adding existing terms. In this case, the issue was because a user actually added Glossary terms with these titles:
https://bugsigdb.org/EFO:0000685
https://bugsigdb.org/MONDO:0005178

I think the solution is to rename those pages and then include the new titles via the form [here](https://bugsigdb.org/Special:FormEdit/Experiment/Study_529/Experiment_1?reloa

[2022-05-16 18:00] lwaldron opened #136 "LinkML for validating ontologies"
I recently became aware of the LinkML (https://linkml.io/) project for modeling and validating data. We may want to consider it as an alternative to having to import and maintain ontologies in bugsigdb.org, because a LinkML data model can for example, specify that an entry must belong to the Experimental Factory Ontology, and their validation tool can check that automatically without having to imp

[2022-05-16 18:01] lwaldron commented on #129
Sounds good, and that's nice to hear that the condition and body site entries are already locked down. Since the https://bugsigdb.org/Osteoarthritis and https://bugsigdb.org/Rheumatoid_arthritis glossary terms exist already I just deleted those two ontology term pages (didn't seem possible to rename them anyways).

I just created Issue #136 to ask a question about possible future infrastructure fo

[2022-05-16 18:01] #129 closed

[2022-05-17 17:56] ftzohra22 opened #137 "Reviewed studies still on 'missing review' list"
@tosfos The 'missing review' list seems to be not updating. For reference: Study 496, 482, 511 (https://bugsigdb.org/Study_469 https://bugsigdb.org/Study_511) were all reviewed over a week ago and are still on the list. I'm not sure how long it usually takes for a study to be cleared from the list after being marked reviewed but looks like as of now reviewed studies are all still listed there.

[2022-05-18 18:24] tosfos commented on #137
We'll check.

[2022-05-18 18:28] tosfos commented on #136
Sounds cool. Would be an exciting project and should be doable.

[2022-05-18 18:32] tosfos commented on #115
We are beginning the process of migrating to a new, larger Azure VM.

[2022-05-19 14:35] ftzohra22 commented on #137
Thank you. Generally how long does it take for them to clear from the list?

[2022-05-19 14:46] tosfos commented on #137
It should be within a minute, but occasionally may take longer if the server is busy.

[2022-06-01 13:36] ftzohra22 opened #138 "Noisier default notifications for users"
@tosfos is there a way to turn on notifications for users? for example, if another user starts a talk/discussion on the paper a curator has worked on.

[2022-06-01 14:58] lwaldron opened #139 "study information not autofilled"
I just saw this on one study page https://bugsigdb.org/Study_622 , even though it has a valid PMID and "auto" mode selected.

[2022-06-02 14:20] kbeckenrode commented on #115
I looked at the front page and it looks great! I like the featured sections 👍 But I didn't see any typos, and the links embedded for more information is great. 10/10

[2022-06-07 22:51] tosfos commented on #115
We're ready to switch to the new server. Please confirm that we can go ahead with this @lwaldron . Thanks

[2022-06-07 22:53] tosfos commented on #138
Usually the way to notify a user is to add a message to their Talk page. We can also make it possible to ping a user from any page. Or did you have something else in mind?

[2022-06-07 22:55] tosfos commented on #139
Probably due to some changes we made for #133 . We'll check.

[2022-06-08 16:54] lwaldron commented on #115
OK with me.--

Levi Waldron

Associate Professor

Department of Epidemiology and Biostatistics

CUNY Graduate School of Public Health and Health Policy

Institute for Implementation Science in Population Health

55 W 125th St, New York NY 10035

https://waldronlab.io

Join the microbiome Virtual International Forum: https://microbiome-vif.org

[2022-06-08 17:39] tosfos commented on #133
This is now possible. I think you've already seen the manual/automatic option.

[2022-06-08 17:42] lwaldron commented on #133
Yes it works great!

[2022-06-08 17:42] #133 closed

[2022-06-08 17:43] #139 closed

[2022-06-08 17:45] lwaldron commented on #138
Being able to ping a user from any page sounds useful if it’s not hard to
implement!--

Levi Waldron

Associate Professor

Department of Epidemiology and Biostatistics

CUNY Graduate School of Public Health and Health Policy

Institute for Implementation Science in Population Health

55 W 125th St, New York NY 10035

https://waldronlab.io

Join the microbiome Virtual International Forum: https://m

[2022-06-09 21:19] tosfos commented on #137
Can this be closed?

[2022-06-10 19:46] tosfos commented on #115
We have this scheduled for this Saturday night/Sunday morning, overnight US time.

[2022-06-15 16:49] lwaldron opened #140 "Add Bioconductor logo"
Would you add a Bioconductor logo next to the SPH logo? From https://bioconductor.org/about/logo/

[2022-06-23 17:54] #137 closed

[2022-06-23 17:55] tosfos commented on #131
I believe this can be closed.

[2022-06-23 17:56] tosfos commented on #112
I believe this can be closed.

[2022-06-23 20:58] tosfos commented on #140
![image](https://user-images.githubusercontent.com/10228795/175398572-f8d65168-ff21-45de-a46a-07ccae2a52d1.png)

Please let me know if this looks good.

[2022-06-24 07:20] lwaldron commented on #140
Yes, looks good!

[2022-06-24 07:20] #140 closed

[2022-06-24 07:46] #112 closed

[2022-06-27 08:04] lwaldron opened #142 "Study page displays incorrectly after editing Condition field"
I edited the Condition field in https://bugsigdb.org/Study_142 from "squamous cell carcinoma" to "oral squamous cell carcinoma", and this study page is now displaying strangely, looking like a mixture of a study page and the Feces condition page together. Note, this is an "oral gland" body site.

![image](https://user-images.githubusercontent.com/639942/175890344-6fc7e95d-c024-45ac-b45d-ea850b033b

[2022-06-27 19:22] tosfos commented on #142
This is a significant issue and points to some sort of data corruption. We're looking into it. The wiki is in read-only mode right now, and we expect that to last for an hour or two.

[2022-06-28 13:11] tosfos commented on #142
This seems to have been due to a corrupt revisions cache. We ran into this once before. It's hard to know what causes it and we don't know how to reproduce the issue in order to debug.

We restored the database from a June 25 backup. We could not find any edits since that point that are missing (other than yours) but if there are any missing edits, please let me know and we'll see if we can restor

[2022-06-29 08:23] lwaldron commented on #142
Thanks @tosfos .

[2022-07-01 09:10] lwaldron opened #143 "Wrong experiment associated with study_567"
https://bugsigdb.org/Study_567 presents a Chinese study of colorectal adenoma, created recently by user Jeshudy on May 30, 2022. But Experiment 1 is from a Russian study on Parkinson's disease created by user Fcuevas3 on Nov 29, 2021. Experiment 2 seems to actually belong to Study 567, created on May 31 by Jeshudy.

[2022-07-01 10:19] lwaldron commented on #143
This misplaced experiment https://bugsigdb.org/Study_567/Experiment_1 seems to belong to the Russian study https://bugsigdb.org/Study_22 that has a reviewed Experiment 1 (https://bugsigdb.org/Study_22/Experiment_1) that seems correct, and to refer to the same real-life experiment as https://bugsigdb.org/Study_567/Experiment_1, only with some curation inconsistencies in the group naming and statist

[2022-07-05 22:03] tosfos commented on #143
Copying from my email:

We implemented a system to help find orphaned pages as happened here. You can see it [here](https://bugsigdb.org/w/index.php?title=Help:Cleanup&oldid=99217).

[2022-07-05 22:03] tosfos commented on #143
Please let me know if we should clean up this particular Study.

[2022-07-13 21:03] ftzohra22 opened #144 "Field name "location of subjects" not upating with validated term"
"Indonesia" was added as a validated location of study a week ago but still isn't showing up on the suggested country list, Given this field is not a free entry form it's not also possible to enter it.

[2022-07-14 11:44] lwaldron commented on #144
Confirmed, I see Indonesia among the Location_of_subjects values
<https://bugsigdb.org/Property:Location_of_subjects/Values> but can't add
it as a location in an Experiment. We should replace these values with a
more comprehensive list of countries, such as from the FAO ontology (
https://en.wikipedia.org/wiki/Geopolitical_ontology).

[2022-07-14 17:53] tosfos commented on #144
This is a bug of some sort in the extension. It stems from some changes we made to help the autocomplete values load faster. We're going to try an alternative autocomplete method that should help.

[2022-07-15 20:52] tosfos commented on #144
Done. This can be closed.

[2022-07-15 21:28] tosfos commented on #111
We performed the following:

1. For all the Body sites, the Term field was made first-letter capitalized.
2. All Experiments where Body site terms are used had their values updated to use first-letter capitalized values.
3. All Body site Alias field values were updated to the first-letter capitalized version.
4. All Experiments with Body site values that are linked to non-existent terms were first

[2022-07-16 12:00] #144 closed

[2022-07-19 16:00] lwaldron opened #145 "Wrong experiment associated with Study_277"
@ftzohra22 do you know which study these Crohn's Disease experiments/signatures are supposed to belong to? Study https://bugsigdb.org/Study_277 is about Cystic Fibrosis. This may require help from @tosfos to correct once we find the right study.

[2022-07-19 16:03] lwaldron commented on #143
Yes please, if you can. In other ones that don't have some correct and some incorrect experiments like #145, I think we could fix it on our own just by changing the PMID of the study.

[2022-07-19 16:06] lwaldron commented on #145
By the way @ftzohra22, from the related #143 the likely cause is:

Also, would you take a look at https://bugsigdb.org/w/index.php?title=Help:Cleanup&oldid=99217 for any other orphaned pages that may need to be cleaned up?

[2022-07-19 22:02] ftzohra22 commented on #145
I'll take a look at both of these and get back to you

[2022-07-20 18:11] lwaldron opened #146 "Condition pages not updating on edit to experiments"
An irritable bowel syndrome (IBS) study "[The microbiome of the oral mucosa in irritable bowel syndrome](https://bugsigdb.org/Study_57)" was incorrectly recorded as inflammatory bowel disease (IBD), so I corrected the condition yesterday in both its experiments. But the study still does not appear in https://bugsigdb.org/Irritable_bowel_syndrome, and still does appear in https://bugsigdb.org/Infla

[2022-07-25 11:56] ftzohra22 commented on #145
@lwaldron for https://bugsigdb.org/Study_277 it doesn't seem like a bug on the wiki's end. I went back to our google spreadsheet and it looks like there's an incorrect PMID associated with that entry on the spreadsheet which was carried on with the import. However, I was able to find the correct PMID by searching some keywords associated with the study in pubmed. Fixed and reviewed this paper in b

[2022-07-27 21:48] tosfos commented on #132
This issue is closed, but noting that we added a follow-up with improved visuals for after the Review button is clicked. Feel fee to create an issue if any changes are needed.

[2022-07-27 21:50] tosfos commented on #146
Looks like it updated itself, likely within a few hours. We'll check if we can improve on that.

[2022-07-28 08:39] #146 closed

[2022-07-29 18:24] tosfos commented on #146
Noting that we were able to improve the update speed for the page to be listed in the updated Condition page. We don't currently have a good way to update the previous Condition page, so it may take a bit of time to be removed from there.

[2022-08-08 12:47] sdgamboa opened #147 "Missing terms of service"
When creating an account: "Make sure that you first read the [Terms of Service](https://bugsigdb.org/w/index.php?title=Project:Terms_of_Service&action=edit&redlink=1) before requesting an account." But the link doesn't contain the terms of service: https://bugsigdb.org/Project:Terms_of_Service.

[2022-08-15 20:19] tosfos commented on #138
We enabled the Echo extension in 56ff1aef3117fc58ee2a18fa91d9962b03e74293.

It can ping users from pages, but the requirements for it to happened are a bit complex. See [this](https://www.mediawiki.org/wiki/Manual:Echo#cite_note-1) page.

This extension has a number of other useful benefits.

![image](https://user-images.githubusercontent.com/10228795/184711351-61da3416-33f7-4eb1-a82a-1cbba50adb38

[2022-08-16 17:00] lwaldron commented on #138
@ftzohra22 if you can figure out how this works could you document and demo it at an upcoming lab meeting?

[2022-09-02 19:58] tosfos commented on #136
What's the status here, please?

[2022-09-02 20:00] tosfos commented on #111
Can this be closed?

[2022-09-02 20:03] tosfos commented on #101
I believe this can be closed.

[2022-09-21 14:54] lwaldron commented on #135
Pinging @rimsha1 @ftzohra22

[2022-09-22 22:49] tosfos commented on #114
We found and fixed the culprit a few days ago. Most Main Page loads should now be much quicker and if I'm reading the Uptime link correctly, Average response time is now half a second (578.54ms).

We're still working on finalizing the code, but I think this can be closed.

[2022-09-23 00:03] lwaldron opened #148 "Strict checking of vocabulary-controlled fields"
Body site, Sequencing platform, and Statistical test currently allow free-form entry even though we have lists of allowed values. Here is an example: https://bugsigdb.org/Study_563/Experiment_2

Can we lock these down to only allow use of the allowed vocabulary? I saw a curator who had entered mixed-capitalization of the Condition field this summer but had already corrected it, and I wasn't able t

[2022-09-23 00:03] lwaldron commented on #147
Thanks Samuel, I just saw this.

[2022-09-25 17:52] tosfos commented on #143
This can be closed

[2022-09-27 18:24] rimsha1 commented on #135
Hi @lwaldron I am trying to understand this **"Confounders controlled for should just link to the same link that Condition links to"** Confounders controlled for already links to the values that condition has. Do you want confounders to have its own editable values?

[2022-09-29 00:18] lwaldron commented on #138
@ftzohra22 reminder to please check whether this meets your needs?

[2022-09-29 00:23] lgeistlinger commented on #115
I think this can be closed.

[2022-09-29 00:23] #115 closed

[2022-09-29 00:28] lwaldron commented on #138
By the way @ftzohra22, click on https://bugsigdb.org/Special:Preferences and select "Notifications" to make sure you are configured to receive emails and are notified about all potentially relevant events.

[2022-09-29 00:43] lgeistlinger commented on #111
Somehow when coming back to this after a while and looking at the [drilldown](https://bugsigdb.org/Special:RunQuery/Drilldown?Drilldown%5BLocation%20of%20subjects%5D=&Drilldown%5BHost%20species%5D=&Drilldown%5BBody%20site%5D=&Drilldown%5BCondition%5D=&Drilldown%5BTaxon%5D=&_run=1), we seem to have opened the doors for a bit of wild wild west again in Condition and Body site:

A lot of instances wi

[2022-09-29 00:47] lwaldron commented on #138
@tosfos , could you make the default settings for Echo and Watchlist more noisy? Basically maximize the categories of email notifications and automatic watch pages, since I think that neither curators or reviewers are currently noticing changes to pages they are involved in.

 E.g. from https://bugsigdb.org/Special:Preferences#mw-prefsection-echo (how does "email from another user" happen?): <img

[2022-09-29 01:15] lwaldron opened #149 "Best practices for "Alerts" and "Notices""
I'm not clear what the difference is between the "Alerts" and "Notices" icon is. Both are empty for me, and I'd like to start using these to more seamlessly communicate among wiki users. I think that currently no one is yet using these. Can you advise us on best practices to e.g. (and feel free to point us to appropriate documentation):
1. ask a user a question about something they put on a page
2

[2022-09-29 01:30] lwaldron opened #150 "remove forum extension (was: enable forum extension)"
Could we create some kind of forum for discussion of issues site-wide? We are currently using Slack for this but I'd like to migrate some of our discussion to the wiki as a way to a) encourage curators and reviewers to interact more frequently with bugsigdb.org, and b) open these discussions up to the public as we start to try to build a wider community of users. It would be great for users to see

[2022-09-29 01:47] lwaldron commented on #111
Although the drilldown shows and even allows entries with different capitalization (see below, I actually tried to enter "Lung cancer"), these are not shown on the page (further below, from https://bugsigdb.org/Study_563/Experiment_2)

<img width="964" alt="image" src="https://user-images.githubusercontent.com/639942/192919160-59da9e2c-92c9-4720-94a1-293ddf9b7f8a.png">

<img width="470" alt="image

[2022-09-29 20:28] tosfos commented on #150
Will do

[2022-09-29 21:26] tosfos commented on #148
Will do

[2022-09-29 22:01] tosfos commented on #149
From the [docs](https://www.mediawiki.org/w/index.php?title=Help:Notifications&oldid=5323462#Alerts_and_notices_warnings):

The best place for this is probably that user's [talk page](https://www.mediawiki.org/wiki/Help:Talk_pages). There are tools we can install to improve on the default talk pages. Either way, once you post something on their page, they should get an email notifying them, as wel

[2022-09-29 22:09] tosfos commented on #138
Will do

If you go to a User page (and you have confirmed your own email address in Preferences) click tools and you should see "Email this user" as an option:
![image](https://user-images.githubusercontent.com/10228795/193150820-038802d6-048b-48e4-aaf9-a79086ba63ab.png)